@import 'variables';

// Fonts
Page {
  background-color: $black;
}

.page {
  background-color: $black;
}

.ionicon {
  font-family: $ionicon;
}

.back-icon {
  font-family: $ionicon;
  font-size: 11;
  font-weight: bold;
  vertical-align: $center;
  horizontal-align: $center;
  margin: 5 5 5 0;
}

/** Buttons **/
.updates-btn {
  font-size: 15;
  border-radius: 50%;
  width: 60%;
  height: 30%;
  horizontal-align: $center;
  vertical-align: $center;
  margin: 5, 0, 5, 0;
}

.circle-image-btn {
  height: 48;
  width: 48;
  border-radius: 24;
  vertical-align: center;
  horizontal-align: center;

  StackLayout {
    height: 48;
    width: 48;
    border-radius: 24;
    height: 100%;
    width: 100%;
    vertical-align: center;
    horizontal-align: center;

    label {
      font-family: $ionicon;
      font-size: 36;
      vertical-align: center;
      horizontal-align: center;
    }
  }
}

.center-label-base {
  horizontal-align: $center;
  vertical-align: $center;
  text-align: $center;
  text-wrap: true;
}

.ambient-show {
  color: $ambient-white;
}
.ambient-hide {
  color: $black;
}

.center-h {
  horizontal-align: $center;
}

.center-v {
  vertical-align: $center;
}

.center-text {
  text-align: $center;
}

.no-margin {
  margin: 0, 0, 0, 0;
}

.no-padding {
  padding: 0, 0, 0, 0;
}

.compact {
  padding: 0, 0, 0, 0;
  margin: 0, 0, 0, 0;
}

/** Label Line Chart Styles **/
.chart-title {
  horizontal-align: center;
  text-align: center;
  font-size: 13;
}

.bold {
  font-weight: bold;
}

.fs6 {
  font-size: 6;
}
.fs8 {
  font-size: 8;
}
.fs10 {
  font-size: 10;
}
.fs12 {
  font-size: 12;
}
.fs14 {
  font-size: 14;
}
.fs16 {
  font-size: 16;
}
.fs18 {
  font-size: 18;
}
.fs20 {
  font-size: 20;
}
.fs22 {
  font-size: 22;
}
.fs24 {
  font-size: 24;
}
.fs26 {
  font-size: 26;
}
.fs28 {
  font-size: 28;
}
.fs30 {
  font-size: 30;
}
.fs32 {
  font-size: 32;
}
.fs34 {
  font-size: 34;
}
.fs36 {
  font-size: 36;
}
.fs38 {
  font-size: 38;
}
.fs40 {
  font-size: 40;
}
