@import 'variables';

$distance-color: #b9b9b9;
$distance-rim-color: $black;
$coast-color: #b9b9b9;
$coast-rim-color: $black;

.distanceCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $distance-color;
  rim-color: $distance-rim-color;
}

.coastCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $coast-color;
  rim-color: $coast-rim-color;
}

.coast-goal-color,
.distance-goal-color {
  color: $ambient-white;
}
