@import 'variables';

.distanceCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: #b9b9b9;
  rim-color: $black;
}

.coastCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: #b9b9b9;
  rim-color: $black;
}

.coast-goal-color,
.distance-goal-color {
  color: $ambient-white;
}
