@import 'variables';

$distance-color: $permobil-violet;
$distance-rim-color: $permobil-charcoal;
$coast-color: $permobil-cousteau;
$coast-rim-color: $permobil-charcoal;

.distanceCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $distance-color;
  rim-color: $distance-rim-color;
}

.coastCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $coast-color;
  rim-color: $coast-rim-color;
}

.coast-goal-color {
  color: $permobil-cousteau;
}

.distance-goal-color {
  color: $permobil-violet;
}
