@import 'variables';

$distance-color: #fbff22;
$distance-rim-color: #696969;
$coast-color: #ff671f;
$coast-rim-color: #696969;

.distanceCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $distance-color;
  rim-color: $distance-rim-color;
}

.coastCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $coast-color;
  rim-color: $coast-rim-color;
}
