<ActionBar [title]="'sign-up.title' | translate" flat="true" class="action-bar">
  <NavigationButton text="Back" android:[icon]="androidBackIcon" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ScrollView class="sign-up-layout" iosOverflowSafeArea="false">
  <GridLayout rows="*, *, *, *, *, *, *" columns="*" iosOverflowSafeArea="false">
    // Email
    <MaxTextBox row="0" [(text)]="user.username" [error]="emailError" [label]="'general.email' | translate" (textChange)="onEmailTextChange($event)" keyboardType="email" autocorrect="false" autocapitalizationType="none"></MaxTextBox>

    // Password
    <MaxTextBox row="1" [(text)]="user.password" [error]="passwordError" [label]="'general.password' | translate" [isSecure]="true" autocorrect="false" autocapitalizationType="none"></MaxTextBox>

    // FirstName
    <MaxTextBox row="2" [(text)]="user.first_name" [error]="firstNameError" [label]="'profile-tab.first-name' | translate"></MaxTextBox>

    // LastName
    <MaxTextBox row="3" [(text)]="user.last_name" [error]="lastNameError" [label]="'profile-tab.last-name' | translate"></MaxTextBox>

    // DOB
    <DataBox row="4" [(dataValue)]="user.dob" [error]="birthdayError" [label]="'general.birthday' | translate" [isDatePicker]="true"></DataBox>

    <Button row="6" [text]="'general.submit' | translate" (tap)="onSubmitSignUp()" class="submit-btn"></Button>
  </GridLayout>
</ScrollView>
