<GridLayout rows="auto, *" class="activity-tab-layout" (loaded)="onShownModally($event)">
    // Mock ActionBar
    <GridLayout row="0" rows="*" columns="50, *, *">
        <Button row="0" col="0" text="&#xe5c4;" class="close-btn" (tap)="closeModal($event)"></Button>
        <Label row="0" col="1" class="page-title" [text]="'activity-tab-component.title' | translate" textWrap="true"></Label>
    </GridLayout>

    <StackLayout row="1" rows="*" columns="50, *, 50">
        <TabView row="0" [(ngModel)]="tabSelectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)" id="tabViewContainer">
            <StackLayout *tabItem="{title: displayDay}">
                <Label class="chart-title" horizontalAlignment="center" justifyContent="center" row="0" marginTop="20" [text]="chartTitle"></Label>
                <RadCartesianChart row="1" marginTop="20" height="120" width="96%">
                    <CategoricalAxis tkCartesianHorizontalAxis 
                        tickHidden="false" majorTickInterval="4" 
                        labelSize="12" labelMargin="6" tickLength="7" labelFitMode="Multiline" plotMode="OnTicks">
                    </CategoricalAxis>
                    <LinearAxis tkCartesianVerticalAxis maximum="90" minumum="0" majorStep="25" labelFormat="%.0f"></LinearAxis>
                    <BarSeries tkCartesianSeries [items]="activity"
                        categoryProperty="Date" valueProperty="Amount" maxBarSize="4" minBarSize="4">
                    </BarSeries>
                </RadCartesianChart>
            </StackLayout>
            <StackLayout *tabItem="{title: displayWeek}">
                <Label text="Week view" marginTop="20"></Label>
            </StackLayout>
            <StackLayout *tabItem="{title: displayMonth}">
                <Label text="Month view" marginTop="20"></Label>
            </StackLayout>
        </TabView>
    </StackLayout>
</GridLayout>