<ScrollView class="login-layout">
  <GridLayout rows="auto, *, auto" columns="*">
    <GridLayout row="1" rows="auto, *, *, *" columns="*" class="login-form">
      <Image row="0" class="align-center m-20" src="~/app/assets/images/permobil_logo_transparent.png" stretch="aspectFit"></Image>

      // Email
      <MaxTextBox
        row="1"
        [(text)]="user.email"
        [error]="emailError"
        [label]="'general.email' | translate"
        (textChange)="onEmailTextChange($event)"
        returnKeyType="next"
        keyboardType="email"
        autocorrect="false"
        autocapitalizationType="none"
      ></MaxTextBox>

      // Password
      <MaxTextBox row="2" [(text)]="user.password" [error]="passwordError" [label]="'general.password' | translate" [isSecure]="true" returnKeyType="done" autocorrect="false" autocapitalizationType="none"></MaxTextBox>

      <Button row="3" [text]="'general.login' | translate" (tap)="onSubmitLogin()" class="submit-btn"></Button>
    </GridLayout>
    <GridLayout row="2" rows="*" columns="auto, *, auto">
      <Button col="0" [text]="'general.forgot-password' | translate" (tap)="navToForgotPassword()" class="forgot-pw-btn"></Button>
      <Button col="2" [text]="'sign-up.title' | translate" (tap)="navToSignUp()" class="register-btn"></Button>
    </GridLayout>
  </GridLayout>
</ScrollView>
