<StackLayout class="bottom-sheet-layout">
  // Mock ActionBar
  <Label class="title" [text]="title | translate" textWrap="true"></Label>
  <Label class="description" [text]="description | translate" [visibility]="description ? 'visible' : 'collapsed'" textWrap="true"></Label>

  <GridLayout rows="auto, auto" columns="auto, *, auto">
    <FlexboxLayout row="0" col="1" colSpan="3" flexDirection="row" alignItems="center" justifyContent="center">
      <ListPicker #primaryPicker class="listpicker m-r-4" [width]="listPickerNeedsSecondary ? '45%' : '90%'" [items]="primaryItems" [selectedIndex]="primaryIndex" (selectedIndexChange)="primaryIndexChanged(primaryPicker)"></ListPicker>
      <ListPicker
        #secondaryPicker
        class="listpicker m-l-4"
        [width]="listPickerNeedsSecondary ? '45%' : '0%'"
        [visibility]="listPickerNeedsSecondary ? 'visible' : 'collapsed'"
        [items]="secondaryItems"
        [selectedIndex]="secondaryIndex"
        (selectedIndexChange)="secondaryIndexChanged(secondaryPicker)"
      ></ListPicker>
    </FlexboxLayout>
    <Button android:ripple android:rippleColorAlpha="0.18" row="1" col="1" [text]="'general.cancel' | translate" class="cancel-btn" (tap)="closeSheet()"></Button>
    <Button android:ripple android:rippleColorAlpha="0.18" row="1" col="2" [text]="'general.ok' | translate" class="ok-btn" (tap)="saveListPickerValue()"></Button>
  </GridLayout>
</StackLayout>
