<ScrollView class="home-tab-layout">
  <StackLayout>
    <GridLayout rows="*" columns="auto, *, auto">
      <Button
        row="0"
        col="2"
        text="&#xf44c;"
        class="infoBtn ionicon"
        (tap)="onInfoTap()"
      ></Button>
    </GridLayout>

    // Activity Circles
    <GridLayout rows="*, auto, *" columns="*, auto, *" height="240" width="95%">
      // Distance Circle (outer/purple)
      <AnimatedCircle
        id="distanceCircle"
        rowSpan="3"
        colSpan="3"
        width="98%"
        height="98%"
        animated="true"
        animateFrom="0"
        clockwise="true"
        rimWidth="30"
        barWidth="30"
        [progress]="distanceCirclePercentage"
      >
      </AnimatedCircle>
      // Coast Time Circle (inner/teal)
      <AnimatedCircle
        id="coastTimeCircle"
        rowSpan="3"
        colSpan="3"
        width="83%"
        height="83%"
        animated="true"
        animateFrom="0"
        clockwise="true"
        rimWidth="30"
        barWidth="30"
        [progress]="coastTimeCirclePercentage"
      >
        <GridLayout rows="*" columns="*" class="circleDetails">
          <Label [text]="milesToGoText" textWrap="true"></Label>
        </GridLayout>
      </AnimatedCircle>
    </GridLayout>

    // Data Details
    <GridLayout
      height="100"
      rows="*, *"
      columns="*, auto, auto, 20, auto, auto, *"
    >
      <Label
        row="0"
        rowSpan="2"
        col="1"
        text=">"
        class="cousteauCircle"
        textWrap="true"
      ></Label>
      <Label
        row="0"
        col="2"
        [text]="coastTimeCirclePercentage + '/100'"
        textWrap="true"
      ></Label>
      <Label
        row="1"
        col="2"
        [text]="'general.coast-time' | translate"
        textWrap="true"
      ></Label>

      <Label
        row="0"
        rowSpan="2"
        col="4"
        text=">>"
        class="violetCircle"
        textWrap="true"
      ></Label>
      <Label
        row="0"
        col="5"
        [text]="distanceCirclePercentage"
        textWrap="true"
      ></Label>
      <Label
        row="1"
        col="5"
        [text]="'general.distance' | translate"
        textWrap="true"
      ></Label>
    </GridLayout>

    <GridLayout rows="auto, auto" columns="*, *, *, *, *" class="dataDetails">
      // push count data
      <Label row="0" col="0" [text]="pushCountData" textWrap="true"></Label>
      <Label
        row="1"
        col="0"
        [text]="'general.pushes' | translate"
        textWrap="true"
      ></Label>
      // coast time data
      <Label row="0" col="2" [text]="coastTimeData" textWrap="true"></Label>
      <Label
        row="1"
        col="2"
        [text]="'general.coast-time' | translate"
        textWrap="true"
      ></Label>
      // distance data
      <Label row="0" col="4" [text]="distanceData" textWrap="true"></Label>
      <Label
        row="1"
        col="4"
        [text]="'general.miles' | translate"
        textWrap="true"
      ></Label>
    </GridLayout>

    // distance per day chart
    <GridLayout rows="*, *" columns="auto, *, auto">
      <Label
        row="0"
        col="0"
        text="Travel 3.0 miles per day"
        textWrap="true"
      ></Label>
      <Label
        row="0"
        col="2"
        text="&#xf397;"
        textWrap="true"
        class="ionicon"
      ></Label>

      // repeater grid here for data
    </GridLayout>
  </StackLayout>
</ScrollView>
