@import '../variables';
@import 'activity-goal-setting-base';

.activity-goals-dialog {
  @extend .ACTIVITY_GOALS_DIALOG_BASE;


  .set-goal-btn {
    color: $permobil-primary;
     .ns-dark & {
      color: $permobil-sky;
    }
    font-size: 16;
  }

  .config-title {
    color: #202125;
     .ns-dark & {
      color: $white;
    }
  }

  .config-title-description {
    color: #64676c;
     .ns-dark & {
      color: $white;
    }
  }

  .config-circle {
    @extend .CONFIG_CIRCLE_BASE;
    border-color: #e9eaee;
     .ns-dark & {
      border-color: lighten($color: $white, $amount: 0.2);
    }

    button {
      color: $permobil-primary;
       .ns-dark & {
        color: $permobil-sky;
      }
    }

    .config-value {
      color: #3c4043;
       .ns-dark & {
        color: $white;
      }
    }
    .config-value-sub {
      color: #5f6267;
       .ns-dark & {
        color: $black;
      }
    }
  }
}
