@import '../variables';
@import 'configuration-tab-base';

.configuration-tab-layout {
  @extend .CONFIGURATION_TAB_LAYOUT_BASE;


  .close-btn {
    @extend .CLOSE_BTN_BASE;

  }

  .back-btn {
    @extend .BACK_BTN_BASE;

  }

  .forward-btn {
    @extend .FORWARD_BTN_BASE;

  }

  .forward-btn-disabled {
    @extend .FORWARD_BTN_BASE;
    color: $grey;
  }

  .more-btn {
    @extend .MORE_BTN_BASE;

  }

  .title {
    @extend .TITLE_BASE;

  }

  .section-title {
    @extend .SECTION_TITLE_BASE;

  }

  .section-text {
    @extend .SECTION_TEXT_BASE;
    color: lighten($black, 10%);
  }

  .page-title {
    @extend .PAGE_TITLE_BASE;
  }

  .configuration-choice {
    background-color: $permobil-primary;
    color: $white;
    border-radius: 40px;
  }
  
}
