@import '../variables';

#distanceCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $permobil-violet;
  rim-color: $dark-custom-dialog-layout-black;
}

#coastTimeCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $permobil-cousteau;
  rim-color: $dark-custom-dialog-layout-black;
}
