@import '../variables';

$sd-rim-color: #f4f5f6;

#distanceCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: #b288ec;
  rim-color: $sd-rim-color;
  .ns-dark & {
    rim-color: $dark-custom-dialog-layout-black;
  }
}

#coastTimeCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: #96bfe7;
  rim-color: $sd-rim-color;
  .ns-dark & {
    rim-color: $dark-custom-dialog-layout-black;
  }
}
