@import '../variables';

#distanceCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $permobil-violet;
  rim-color: transparent;
}

#coastTimeCircle {
  background-color: transparent;
  fill-color: transparent;
  bar-color: $permobil-cousteau;
  rim-color: transparent;
}
