// profile settings layout
<GridLayout rows="auto, *" columns="*" class="profile-settings-layout">
  // Mock ActionBar
  <GridLayout row="0" rows="*" columns="50, *, *">
    <Button row="0" col="0" text="&#xe5c4;" class="back-btn" (tap)="navBack()"></Button>
    <Label row="0" col="1" class="action-bar-title" [text]="'settings-component.title' | translate" textWrap="true"></Label>
  </GridLayout>
  <ScrollView row="1" height="100%">
    <GridLayout rows="*, *, *, *, *, *, *, *, *, *, *, *, *" columns="*">
      <StackLayout row="0">
        // Units Section
        <Label class="category" [text]="'general.units' | translate"></Label>
        // Height
        <StackLayout (tap)="onItemTap($event, 'height')">
          <Label class="setting-title" [text]="'general.height' | translate"></Label>
          <Label class="setting-value" [text]="HEIGHT" textWrap="true"></Label>
        </StackLayout>
        // Weight
        <StackLayout (tap)="onItemTap($event, 'weight')">
          <Label class="setting-title" [text]="'general.weight' | translate"></Label>
          <Label class="setting-value" [text]="WEIGHT" textWrap="true"></Label>
        </StackLayout>

        // Distance
        <StackLayout (tap)="onItemTap($event, 'distance')">
          <Label class="setting-title" [text]="'general.distance' | translate"></Label>
          <Label class="setting-value" [text]="DISTANCE" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>
      <StackLayout row="1">
        // Smart Drive Section
        <Label class="category" [text]="'general.smartdrive' | translate"></Label>

        // Max Speed
        <StackLayout (tap)="onItemTap($event, 'max-speed')">
          <Label class="setting-title" [text]="'general.max-speed' | translate"></Label>
          <Label class="setting-value" [text]="settings.maxSpeed + ' %'" textWrap="true"></Label>
        </StackLayout>

        // Acceleration
        <StackLayout (tap)="onItemTap($event, 'acceleration')">
          <Label class="setting-title" [text]="'general.acceleration' | translate"></Label>
          <Label class="setting-value" [text]="settings.acceleration + ' %'" textWrap="true"></Label>
        </StackLayout>

        // Tap sensitivity
        <StackLayout (tap)="onItemTap($event, 'tap-sensitivity')">
          <Label class="setting-title" [text]="'general.tap-sensitivity' | translate"></Label>
          <Label class="setting-value" [text]="settings.tapSensitivity + ' %'" textWrap="true"></Label>
        </StackLayout>
        // Mode
        <StackLayout (tap)="onItemTap($event, 'mode')">
          <Label class="setting-title" [text]="'general.mode' | translate"></Label>
          <Label class="setting-value" [text]="settings.controlMode" textWrap="true"></Label>
        </StackLayout>

        // Switch Control Max Speed
        <StackLayout (tap)="onItemTap($event, 'switch-control-max-speed')">
          <Label class="setting-title" [text]="'general.switch-control-max-speed' | translate"></Label>
          <Label class="setting-value" [text]="switchControlSettings.maxSpeed + ' %'" textWrap="true"></Label>
        </StackLayout>

        // Switch Control Mode
        <StackLayout (tap)="onItemTap($event, 'switch-control-mode')">
          <Label class="setting-title" [text]="'general.switch-control-mode' | translate"></Label>
          <Label class="setting-value" [text]="'sd.switch-settings.mode.' + switchControlSettings.mode.toLowerCase() | translate" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>
      <StackLayout row="2">
        // Display Section
        <Label class="category" [text]="'general.display' | translate"></Label>

        // Theme
        <StackLayout (tap)="onItemTap($event, 'theme')">
          <Label class="setting-title" [text]="'profile-settings.theme' | translate"></Label>
          <Label class="setting-value" [text]="CURRENT_THEME" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>
    </GridLayout>
  </ScrollView>

  <!-- Slider Layout -->
  <GridLayout #sliderSettingDialog rowSpan="2" rows="*, auto, *" columns="*" [translateY]="screenHeight" opacity="0" class="slider-dialog">
    <StackLayout row="1">
      // Mock ActionBar
      <Label class="setting-title" [text]="activeSettingTitle | translate" textWrap="true"></Label>
      <Label class="setting-description" [text]="activeSettingDescription | translate" textWrap="true"></Label>
      <GridLayout row="1" rows="*, auto" columns="auto, *, auto">
        <Slider row="0" col="0" colSpan="2" class="slider" [(ngModel)]="SLIDER_VALUE" minValue="1" maxValue="10"></Slider>
        <Label class="slider-value" row="0" col="2" [text]="SLIDER_VALUE * 10 + ' %'"></Label>
        <Button row="1" col="1" [text]="'general.cancel' | translate" class="cancel-btn" (tap)="closeSliderSettingDialog()"></Button>
        <Button row="1" col="2" [text]="'general.ok' | translate" class="ok-btn" (tap)="saveSliderSettingValue()"></Button>
      </GridLayout>
    </StackLayout>
  </GridLayout>

  <!-- List Picker Layout -->
  <GridLayout #listPickerDialog row="0" rowSpan="3" col="0" rows="*, auto, *" columns="*" [translateY]="screenHeight" opacity="0" class="list-picker-dialog">
    <StackLayout row="1">
      // Mock ActionBar
      <Label class="setting-title" [text]="activeSettingTitle | translate" textWrap="true"></Label>
      <Label class="setting-description" [text]="activeSettingDescription | translate" textWrap="true"></Label>
      <GridLayout row="1" rows="*, auto" columns="auto, *, auto">
        <ListPicker row="0" col="1" colSpan="2" [items]="listPickerItems" (selectedIndexChange)="listPickerIndexChange($event)" [selectedIndex]="listPickerIndex" class="m-r-10"></ListPicker>
        <Button row="1" col="1" [text]="'general.cancel' | translate" class="cancel-btn" (tap)="closeListPickerDialog()"></Button>
        <Button row="1" col="2" [text]="'general.ok' | translate" class="ok-btn" (tap)="saveListPickerValue()"></Button>
      </GridLayout>
    </StackLayout>
  </GridLayout>
</GridLayout>
