// profile tab layout
<GridLayout rows="*, auto, *" columns="*" class="profile-tab-layout">
  // main profile-tab layout
  <GridLayout row="0" rowSpan="3" col="0" rows="auto, *, auto" columns="*">
    // Mock ActionBar
    <MockActionBar row="0" [showBackNav]="false" [showSettingsBtn]="true" [showSupportBtn]="true" (supportTapEvent)="onSupportTap($event)"></MockActionBar>

    <ScrollView row="1" rowSpan="2" col="0" padding="10" height="100%" width="100%">
      <GridLayout rows="*, *, *, *, *, *, *, *, *, *, *, *, *, *, *" columns="auto, *, *, *" paddingBottom="15">
        // Page Title
        <Label row="0" col="0" colSpan="4" class="page-title" [text]="'profile-tab.title' | translate" textWrap="true"></Label>
        // User Avatar
        <GridLayout row="1" col="0" rowspan="2" class="avatar-circle">
          <Label [visibility]="!user.data.profile_picture ? 'visible' : 'collapsed'" [text]="user.data.first_name.charAt(0)" textWrap="true"></Label>
          <Image [visibility]="user.data.profile_picture ? 'visible' : 'collapsed'" [src]="user.data.profile_picture" stretch="aspectFit"></Image>
        </GridLayout>

        // User Name
        <StackLayout row="1" col="1" colSpan="3" orientation="horizontal">
          <Label class="profile-name" [text]="user.data.first_name" textWrap="true" (longPress)="onNameLongPress($event, 'first-name')"></Label>
          <Label class="profile-name" marginLeft="4" [text]="user.data.last_name" textWrap="true" (longPress)="onNameLongPress($event, 'last-name')"></Label>
        </StackLayout>

        // User Email
        <Label row="2" col="1" colSpan="3" class="profile-email" [text]="user.username" textWrap="true"></Label>

        // Activity Goals Label
        <label col="0" row="3" colSpan="4" class="section-label" [text]="'profile-tab.activity-goals' | translate"></label>

        // Horizontal Line
        <StackLayout row="4" col="0" colspan="4" class="hr"></StackLayout>

        // Coast Time
        <!-- <DataBox
          row="5"
          col="0"
          colSpan="2"
          [label]="'general.coast-time' | translate"
          [(dataValue)]="displayActivityGoalCoastTime"
          (tap)="onActivityGoalTap($event, 'coast-time', 'coast-time-description', 'COAST_TIME_ACTIVITY_GOAL', COAST_TIME_ACTIVITY_GOAL)"
        ></DataBox> -->

        // Coast Time
        <StackLayout row="5" col="0" colSpan="2" class="data-box" (tap)="onActivityGoalTap($event, 'coast-time', 'coast-time-description', 'COAST_TIME_ACTIVITY_GOAL', COAST_TIME_ACTIVITY_GOAL)">
          <Label class="data-box-label" [text]="'general.coast-time' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="displayActivityGoalCoastTime" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Distance
        <StackLayout row="5" col="2" colSpan="2" class="data-box" (tap)="onActivityGoalTap($event, 'distance', 'distance-description', 'DISTANCE_ACTIVITY_GOAL', DISTANCE_ACTIVITY_GOAL)">
          <Label class="data-box-label" [text]="'general.distance' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="displayActivityGoalDistance" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Distance
        <!-- <DataBox
          row="5"
          col="2"
          colSpan="2"
          [label]="'general.distance' | translate"
          [(dataValue)]="displayActivityGoalDistance"
          (tap)="onActivityGoalTap($event, 'distance', 'distance-description', 'DISTANCE_ACTIVITY_GOAL', DISTANCE_ACTIVITY_GOAL)"
        ></DataBox> -->

        // About You Label
        <Label row="6" col="0" colSpan="4" class="section-label" [text]="'profile-tab.about-you' | translate"></Label>

        // Horizontal Line
        <StackLayout row="7" col="0" colspan="4" class="hr"></StackLayout>

        // Gender Box
        <StackLayout row="8" col="0" colSpan="2" class="data-box" (tap)="onListPickerTap($event, 0)">
          <Label class="data-box-label" [text]="'general.gender' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="user.data.gender" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Birthday Box
        <StackLayout row="8" col="2" colSpan="2" class="data-box" (tap)="onBirthDateTap($event)">
          <Label class="data-box-label" [text]="'general.birthday' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="user.data.dob | date" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Weight Box
        <StackLayout row="9" col="0" colSpan="2" class="data-box" (tap)="onListPickerTap($event, 1)">
          <Label class="data-box-label" [text]="'general.weight' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="displayWeight" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Height Box
        <StackLayout row="9" col="2" colSpan="2" class="data-box" (tap)="onListPickerTap($event, 2)">
          <Label class="data-box-label" [text]="'general.height' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="displayHeight" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Chair Type Box
        <StackLayout row="10" col="0" colSpan="2" class="data-box" (tap)="onListPickerTap($event, 3)">
          <Label class="data-box-label" [text]="'general.chair-type' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="user.data.chair_type" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Chair Make Box
        <StackLayout row="10" col="2" colSpan="2" class="data-box" (tap)="onListPickerTap($event, 4)">
          <Label class="data-box-label" [text]="'profile-tab.chair-make' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="user.data.chair_make" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Control Configuration
        <StackLayout row="11" col="0" colSpan="4" class="data-box" (tap)="onListPickerTap($event, 5)">
          <Label class="data-box-label" [text]="'profile-tab.control-configuration' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="user.data.control_configuration" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Device Serial Numbers
        <Label row="12" col="0" colSpan="4" class="section-label" [text]="'profile-tab.device-serial-numbers' | translate"></Label>

        // Horizontal Line
        <StackLayout row="13" col="0" colspan="4" class="hr"></StackLayout>

        // SmartDrive Serial Number
        <StackLayout row="14" col="0" colSpan="2" class="data-box" (tap)="onScan('smartdrive')">
          <Label class="data-box-label" [text]="'profile-tab.smartdrive' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="user.data.smartdrive_serial_number" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>

        // Pushtracker Serial Number
        <StackLayout row="14" col="2" colSpan="2" class="data-box" (tap)="onScan('pushtracker')">
          <Label class="data-box-label" [text]="'profile-tab.pushtracker' | translate"></Label>
          <GridLayout rows="*" columns="*, auto">
            <Label col="0" class="data-box-value" [text]="user.data.pushtracker_serial_number" textWrap="true"></Label>
            <Label col="1" class="data-box-arrow" text="&#xe5c5;"></Label>
          </GridLayout>
        </StackLayout>
      </GridLayout>
    </ScrollView>
  </GridLayout>

  <!-- Activity Goals FullScreen Layout -->
  // custom full-screen modal for presenting user with config changes UI
  <GridLayout #activityGoalsDialog row="0" rowSpan="3" col="0" rows="auto, *" columns="*" [translateY]="screenHeight + 100" opacity="0" class="activity-goals-dialog">
    // Mock ActionBar
    <GridLayout row="0" rows="*" columns="50, *, auto" class="action-bar">
      <Button row="0" col="0" text="&#xe5cd;" class="nav-btn" (tap)="closeActivityGoalsDialog()"></Button>
      <Button row="0" col="2" [text]="'profile-tab.set-goal' | translate" class="set-goal-btn" (tap)="onSetGoalBtnTap()"></Button>
    </GridLayout>
    <GridLayout row="1" rows="auto, auto, *">
      <Label row="0" [text]="activity_goals_dialog_data.config_title" class="config-title" textWrap="true"></Label>
      <Label row="1" [text]="activity_goals_dialog_data.config_description" class="config-title-description" textWrap="true"></Label>
      <GridLayout class="config-circle" row="2" rows="*, auto, *" columns="*, *, *">
        <Button row="1" col="0" text="&#xe15b;" textAlign="left" (tap)="decrementConfigValue()"></Button>
        <StackLayout horizontalAlignment="center" row="1" col="1">
          <Label class="config-value" [text]="activity_goals_dialog_data.config_value"></Label>
          <Label class="config-value-sub" [text]="displayActivityGoalUnitLabel"></Label>
        </StackLayout>
        <Button row="1" col="2" text="&#xe145;" textAlign="right" (tap)="incrementConfigValue()"></Button>
      </GridLayout>
    </GridLayout>
  </GridLayout>

  <!-- List Picker Layout -->
  <GridLayout #listPickerDialog row="0" rowSpan="3" col="0" rows="*, auto, *" columns="*" [translateY]="screenHeight + 100" opacity="0" class="list-picker-dialog">
    <StackLayout row="1">
      // Mock ActionBar
      <Label class="picker-title" [text]="listPickerTitle | translate" textWrap="true"></Label>
      <Label [visibility]="listPickerDescriptionNecessary ? 'visible' : 'collapsed'" class="picker-description" [text]="listPickerDescription | translate" textWrap="true"></Label>

      <GridLayout row="1" rows="*, auto" columns="auto, *, auto">
        <FlexboxLayout row="0" col="1" colSpan="3" flexDirection="row" alignItems="center" justifyContent="center">
          <ListPicker [width]="listPickerNeedsSecondary ? '45%' : '90%'" #primaryPicker [items]="primary" [selectedIndex]="primaryIndex" class="m-r-4" (selectedIndexChange)="primaryIndexChanged(primaryPicker)"></ListPicker>
          <ListPicker
            #secondaryPicker
            [width]="listPickerNeedsSecondary ? '45%' : '0%'"
            [visibility]="listPickerNeedsSecondary ? 'visible' : 'collapsed'"
            [items]="secondary"
            [selectedIndex]="secondaryIndex"
            class="m-l-4"
            (selectedIndexChange)="secondaryIndexChanged(secondaryPicker)"
          ></ListPicker>
        </FlexboxLayout>
        <Button row="1" col="1" [text]="'general.cancel' | translate" class="cancel-btn" (tap)="closeListPickerDialog()"></Button>
        <Button row="1" col="2" [text]="'general.ok' | translate" class="ok-btn" (tap)="saveListPickerValue()"></Button>
      </GridLayout>
    </StackLayout>
  </GridLayout>
</GridLayout>
