<GridLayout
  rows="auto, *"
  class="profile-settings-layout"
  (loaded)="onShownModally($event)"
>
<GridLayout row="0" rows="*" columns="50, *, 50">
    <Button
      row="0"
      col="0"
      text="&#xe5cd;"
      class="close-btn"
      (tap)="closeModal($event)"
    ></Button>
  </GridLayout>
  <ScrollView row="1" height="100%">
      <StackLayout paddingTop="20">
        <Label
          class="title"
          text="Settings"
          textWrap="true"
        ></Label>
      </StackLayout>
    </ScrollView>
</GridLayout>
