// profile settings layout
<GridLayout rows="auto, *" columns="*"
  [class]="CURRENT_THEME === 'DEFAULT' ? 'profile-settings-layout-default' : 'profile-settings-layout-dark'">
  // Mock ActionBar
  <MockActionBar row="0" #mockActionBar [title]="'settings-component.title' | translate" [showWatchBtn]="user.data.control_configuration === 'PushTracker with SmartDrive'"
    [showUpdateBtn]="user.data.control_configuration !== 'PushTracker E2 with SmartDrive'" [showBackNav]="true" (navTapEvent)="closeModal()"
    [showRefreshBtn]="user.data.control_configuration === 'Switch Control with SmartDrive' ? true : false" (refreshTapEvent)="onRefreshTap($event)"
    [controlConfiguration]="user.data.control_configuration"></MockActionBar>

  <ScrollView row="1" height="100%">
    <GridLayout rows="*, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *, *" columns="*">
      // Units Section
      <Label row="0" class="category" [text]="'general.units' | translate"></Label>
      // Height
      <StackLayout [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="1"
        (tap)="onItemTap($event, 'height')" class="setting-layout">
        <Label class="setting-title" [text]="'general.height' | translate"></Label>
        <Label class="setting-value" [text]="HEIGHT" textWrap="true"></Label>
      </StackLayout>
      // Weight
      <StackLayout [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="2"
        (tap)="onItemTap($event, 'weight')" class="setting-layout">
        <Label class="setting-title" [text]="'general.weight' | translate"></Label>
        <Label class="setting-value" [text]="WEIGHT" textWrap="true"></Label>
      </StackLayout>

      // Distance
      <StackLayout [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="3"
        (tap)="onItemTap($event, 'distance')" class="setting-layout">
        <Label class="setting-title" [text]="'general.distance' | translate"></Label>
        <Label class="setting-value" [text]="DISTANCE" textWrap="true"></Label>
      </StackLayout>

      // Smart Drive Section
      <Label *ngIf="user.data.control_configuration !== 'PushTracker E2 with SmartDrive'" row="4" class="category" [text]="'general.smartdrive' | translate"></Label>

      // EZ-ON
      <GridLayout *ngIf="user.data.control_configuration === 'PushTracker with SmartDrive'" row="5" rows="auto, auto" columns="*, auto" class="setting-layout">
        <Label row="0" col="0" class="setting-title" [text]="'general.ez-on' | translate"></Label>
        <Switch row="0" rowSpan="2" col="1" [checked]="settingsService.settings.ezOn" class="inactive-setting-switch"
          (checkedChange)="onSettingsChecked($event, 'ez-on')"></Switch>
        <Label row="1" col="0" colSpan="2" class="setting-value"
          [text]="(settingsService.settings.ezOn ? 'general.enabled' : 'general.disabled') | translate"
          textWrap="true"></Label>
      </GridLayout>

      // Power Assist Beep
      <GridLayout *ngIf="user.data.control_configuration !== 'PushTracker E2 with SmartDrive'" row="6" rows="auto, auto" columns="*, auto" class="setting-layout">
        <Label row="0" col="0" class="setting-title" [text]="'general.power-assist-beep' | translate"></Label>
        <Switch row="0" rowSpan="2" col="1" [checked]="!settingsService.settings.disablePowerAssistBeep"
          class="inactive-setting-switch" (checkedChange)="onSettingsChecked($event, 'power-assist-beep')"></Switch>
        <Label row="1" col="0" colSpan="2" class="setting-value"
          [text]="(settingsService.settings.disablePowerAssistBeep ? 'general.disabled' : 'general.enabled') | translate"
          textWrap="true"></Label>
      </GridLayout>

      // Max Speed
      <StackLayout *ngIf="user.data.control_configuration !== 'PushTracker E2 with SmartDrive'" [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="7"
        (tap)="onItemTap($event, 'max-speed')" class="setting-layout">
        <Label class="setting-title" [text]="'general.max-speed' | translate"></Label>
        <Label class="setting-value" [text]="settingsService.settings.maxSpeed + ' %'" textWrap="true"></Label>
      </StackLayout>

      // Acceleration
      <StackLayout *ngIf="user.data.control_configuration !== 'PushTracker E2 with SmartDrive'" [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="8"
        (tap)="onItemTap($event, 'acceleration')" class="setting-layout">
        <Label class="setting-title" [text]="'general.acceleration' | translate"></Label>
        <Label class="setting-value" [text]="settingsService.settings.acceleration + ' %'" textWrap="true"></Label>
      </StackLayout>

      // Tap sensitivity
      <StackLayout *ngIf="user.data.control_configuration === 'PushTracker with SmartDrive'" [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="9"
        (tap)="onItemTap($event, 'tap-sensitivity')" class="setting-layout">
        <Label class="setting-title" [text]="'general.tap-sensitivity' | translate"></Label>
        <Label class="setting-value" [text]="settingsService.settings.tapSensitivity + ' %'" textWrap="true"></Label>
      </StackLayout>

      // Mode
      <StackLayout *ngIf="user.data.control_configuration === 'PushTracker with SmartDrive'" [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="10"
        (tap)="onItemTap($event, 'mode')" class="setting-layout">
        <Label class="setting-title" [text]="'general.mode' | translate"></Label>
        <Label class="setting-value" [text]="settingsService.settings.controlMode" textWrap="true"></Label>
      </StackLayout>

      // Switch Control Max Speed
      <StackLayout *ngIf="user.data.control_configuration !== 'PushTracker E2 with SmartDrive'" [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="11"
        (tap)="onItemTap($event, 'switch-control-max-speed')" class="setting-layout">
        <Label class="setting-title" [text]="'general.switch-control-max-speed' | translate"></Label>
        <Label class="setting-value" [text]="settingsService.switchControlSettings.maxSpeed + ' %'"
          textWrap="true"></Label>
      </StackLayout>

      // Switch Control Mode
      <StackLayout *ngIf="user.data.control_configuration !== 'PushTracker E2 with SmartDrive'" [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="12"
        (tap)="onItemTap($event, 'switch-control-mode')" class="setting-layout">
        <Label class="setting-title" [text]="'general.switch-control-mode' | translate"></Label>
        <Label class="setting-value"
          [text]="'sd.switch-settings.mode.' + settingsService.switchControlSettings.mode.toLowerCase() | translate"
          textWrap="true"></Label>
      </StackLayout>

      <StackLayout *ngIf="user.data.control_configuration === 'Switch Control with SmartDrive'" 
        row="13" marginTop="10">
        <StackLayout>
          <GridLayout width="100%" columns="auto, *" *ngIf='syncingWithSmartDrive'>
            <ActivityIndicator row="0" col="0" horizontalAlignment="right" height="10%" width="10%"
              *ngIf='syncingWithSmartDrive' marginLeft="40"
              busy="true" [color]="CURRENT_THEME === 'DEFAULT' ? '#00c1d5' : '#00c1d5'"></ActivityIndicator>
            <Label horizontalAlignment="center" verticalAlignment="center" class="sync-status"
              row="0" col="1" [text]="syncState" *ngIf='syncingWithSmartDrive'></Label>
          </GridLayout>
          <Button
            *ngIf='!syncingWithSmartDrive && !syncSuccessful'
            (tap)="onSyncSettingsWithSmartDrive($event)" 
            class="sync-button" width="70%" 
            [text]="'settings-component.sync-button' | translate"></Button>
        </StackLayout>
      </StackLayout>

      // Display Section
      <Label row="14" class="category" [text]="'general.display' | translate"></Label>

      // Theme
      <StackLayout [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="15"
        (tap)="onItemTap($event, 'theme')" class="setting-layout">
        <Label class="setting-title" [text]="'profile-settings.theme' | translate"></Label>
        <Label class="setting-value" [text]="CURRENT_THEME" textWrap="true"></Label>
      </StackLayout>
      // Language
      <StackLayout [isUserInteractionEnabled]="!isUserEditingSetting" ripple rippleColorAlpha="0.18" row="16"
        (tap)="onItemTap($event, 'language')" class="setting-layout">
        <Label class="setting-title" [text]="'profile-settings.language' | translate"></Label>
        <Label class="setting-value" [text]="CURRENT_LANGUAGE" textWrap="true"></Label>
      </StackLayout>
    </GridLayout>
  </ScrollView>

  <!-- Slider Layout -->
  <GridLayout #sliderSettingDialog rowSpan="2" rows="*, auto, *"
    columns="*" [translateY]="screenHeight" opacity="0" class="custom-template-dialog">
    <StackLayout row="1">
      <Label class="title" [text]="activeSettingTitle | translate"></Label>
      <Label class="description" [text]="activeSettingDescription | translate"></Label>
      <StackLayout orientation="horizontal">
        <Slider width="80%" class="slider" [value]="SLIDER_VALUE" (valueChange)="onSliderValueChange($event)"
          minValue="1" maxValue="10"></Slider>
        <Label width="20%" class="slider-value" [text]="(SLIDER_VALUE * 10).toFixed(0) + ' %'"></Label>
      </StackLayout>
      <StackLayout orientation="horizontal" marginTop="16" horizontalAlignment="right">
        <Button android:ripple android:rippleColorAlpha="0.18" [text]="'general.cancel' | translate" class="cancel-btn"
          (tap)="closeSliderSettingDialog()"></Button>
        <Button android:ripple android:rippleColorAlpha="0.18" [text]="'general.ok' | translate" class="ok-btn"
          (tap)="saveSliderSettingValue()"></Button>
      </StackLayout>
    </StackLayout>
  </GridLayout>

  <!-- List Picker Layout -->
  <GridLayout #listPickerDialog row="0" rowSpan="2" col="0"
    rows="*, auto, *" columns="*" [translateY]="screenHeight" opacity="0" class="custom-template-dialog">
    <StackLayout row="1">
      <Label class="title" [text]="activeSettingTitle | translate"></Label>
      <Label class="description" [text]="activeSettingDescription | translate"></Label>
      <GridLayout row="1" rows="*, auto" columns="auto, *, auto">
        <ListPicker row="0" col="1" colSpan="3" class="listpicker" [items]="listPickerItems"
          (selectedIndexChange)="listPickerIndexChange($event)" [selectedIndex]="listPickerIndex"></ListPicker>
        <StackLayout row="1" col="2" orientation="horizontal" marginTop="16" horizontalAlignment="right">
          <Button android:ripple android:rippleColorAlpha="0.18" [text]="'general.cancel' | translate"
            class="cancel-btn" (tap)="closeListPickerDialog()"></Button>
          <Button android:ripple android:rippleColorAlpha="0.18" [text]="'general.ok' | translate" class="ok-btn"
            (tap)="saveListPickerValue()"></Button>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </GridLayout>
</GridLayout>