// profile settings layout
<GridLayout rows="*" columns="*" class="profile-settings-layout">
  // main profile-settings layout
  <GridLayout row="0" col="0" rows="auto, *" columns="*">
    // Mock ActionBar
    <GridLayout row="0" rows="*" columns="50, *, *">
        <Button row="0" col="0" text="&#xe5c4;" class="close-btn" (tap)="navBack()"></Button>
        <Label row="0" col="1" class="title" [text]="'settings-component.title' | translate" textWrap="true"></Label>
    </GridLayout>
    <ScrollView row="1" height="100%">
      <GridLayout rows="*, *, *, *, *, *, *, *, *, *, *, *, *" columns="auto, *, *, *">
          // Units 
          <Label row="0" col="0" class="category" [text] = "'general.units'| translate"></Label>
          // height
          <StackLayout row="1" col="0" colSpan="2"  (tap)="onItemTap($event, 'height')">
            <Label class="section-title" [text] = "'general.height' | translate"></Label>
                <Label col="0" class="section-text" [text]="HEIGHT" textWrap="true"></Label>
          </StackLayout>
          // weight
          <StackLayout row="2" col="0" colSpan="2"  (tap)="onItemTap($event, 'weight')">
              <Label class="section-title" [text] = "'general.weight' | translate"></Label>
                  <Label col="0" class="section-text" [text]="WEIGHT" textWrap="true"></Label>
          </StackLayout>
          
          // Distance 
          <StackLayout row="3" col="0" colSpan="2"  (tap)="onItemTap($event, 'distance')">
              <Label class="section-title" [text] = "'general.distance' | translate"></Label>
                  <Label col="0" class="section-text" [text]="DISTANCE" textWrap="true"></Label>
          </StackLayout>

          <Label row="4" col="0" class="hr-light"></Label>
          
          // Smart Drive
          <Label row="5" col="0" class="category" [text] = "'general.smartdrive'| translate"></Label>

          // Max Speed
          <StackLayout row="6" col="0" colSpan="2"  (tap)="onItemTap($event, 'max-speed')">
              <Label class="section-title" [text] = "'general.max-speed' | translate"></Label>
                  <Label col="0" class="section-text" [text]="MAX_SPEED" textWrap="true"></Label>
          </StackLayout>

          // Acceleration
          <StackLayout row="7" col="0" colSpan="2"  (tap)="onItemTap($event, 'acceleration')">
              <Label class="section-title" [text] = "'general.acceleration' | translate"></Label>
                  <Label col="0" class="section-text" [text]="ACCELERATION" textWrap="true"></Label>
          </StackLayout>

          // Tap sensitivity
          <StackLayout row="8" col="0" colSpan="2"  (tap)="onItemTap($event, 'tap-sensitivity')">
              <Label class="section-title" [text] = "'general.tap-sensitivity' | translate"></Label>
                  <Label col="0" class="section-text" [text]="TAP_SENSITIVITY" textWrap="true"></Label>
          </StackLayout>
          // Mode
          <StackLayout row="9" col="0" colSpan="2"  (tap)="onItemTap($event, 'mode')">
              <Label class="section-title" [text] = "'general.mode' | translate"></Label>
                  <Label col="0" class="section-text" [text]="MODE" textWrap="true"></Label>
          </StackLayout>

          // Display
          

          // Theme 
          <Label row="10" col="0" class="category" [text] = "'profile-settings.theme' | translate"></Label>

      </GridLayout> 
    </ScrollView>
  </GridLayout>
</GridLayout>
