@import '../variables';
@import 'home-tab-base';

.home-tab-layout {
  @extend .HOME_TAB_LAYOUT_BASE;
  background-color: $black;

  GridLayout {
    color: $white;
  }

  .info-btn {
    @extend .INFO_BTN_BASE;
    color: $white;
  }

  .distance-remaining-circle {
    @extend .DISTANCE_REMAINING_CIRCLE_BASE;
    background-image: linear-gradient(to bottom, #3d4b6d, #3f4e6b);

    label {
      color: $white;
    }
  }

  .percentage-data-layout {
    @extend .PERCENTAGE_DATA_LAYOUT_BASE;
    .value {
      color: $white;
    }
    .max-value {
      color: darken($white, 0.1);
    }
    .description {
      color: darken($white, 0.1);
    }
  }

  .detail-data {
    @extend .DETAIL_DATA_BASE;

    width: 80%;

    .detail-value {
      font-size: 18;
      font-weight: bold;
      color: $white;
    }

    .detail-description {
      font-size: 10;
      color: $white;
    }
  }

  .chart-layout {
    @extend .CHART_LAYOUT_BASE;

    .title {
      color: $white;
    }

    RadCartesianChart {
      background-color: $black;
      color: $white;
      width: 90%;
      height: 150;
      margin: 20 2 2 2;
    }

  }

  FlexboxLayout {
    color: $white;
  }

  .goal-value {
    font-style: italic;
    color: $white;
    font-weight: bold;
  }

  .today-message {
    text-align: center;
    font-size: 14;
    width: 70%;
  }
}
