@import '../variables';

.HOME_TAB_LAYOUT_BASE {
  height: 100%;
  width: 100%;
  padding: 10;

  .INFO_BTN_BASE {
    @extend .btn-transparent;
    height: 50;
    width: 50;
    border-radius: 25;
    font-size: 30;
    font-family: $material-icon;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
    margin: 4;
  }

  .DISTANCE_REMAINING_CIRCLE_BASE {
    height: 90;
    width: 90;
    font-size: 10;
    border-radius: 70;
    horizontal-align: center;
    vertical-align: center;
    android-elevation: 10;

    label {
      horizontal-align: center;
      vertical-align: center;
    }
  }

  .PERCENTAGE_DATA_LAYOUT_BASE {
    padding: 10 5 20 5;

    .value {
      font-family: $os-SemiBold;
      font-size: 28;
      font-weight: bold;
      vertical-align: bottom;
      horizontal-align: center;
    }

    .max-value {
      font-family: $os-Light;
      font-size: 16;
      vertical-align: bottom;
      horizontal-align: left;
    }

    .description {
      font-family: $os;
      font-size: 14;
      vertical-align: top;
      horizontal-align: left;
    }
  }

  .cousteau-circle {
    background-color: $permobil-cousteau-light;
    color: $permobil-cousteau-dark;
    height: 40;
    width: 40;
    border-radius: 20;
    margin: 6;
    text-align: center;
    vertical-align: center;
    horizontal-align: center;
    android-elevation: 10;

    label {
      font-family: $material-icon;
      font-size: 32;
      text-align: center;
      vertical-align: center;
      horizontal-align: center;
    }
  }

  .violet-circle {
    background-color: $permobil-violet-light;
    color: $permobil-violet-dark;
    height: 40;
    width: 40;
    border-radius: 20;
    margin: 6;
    text-align: center;
    vertical-align: center;
    horizontal-align: center;
    android-elevation: 10;

    > label {
      font-family: $material-icon;
      font-size: 32;
      text-align: center;
      vertical-align: center;
      horizontal-align: center;
    }
  }

  .DETAIL_DATA_BASE {
    padding: 10 15 30 15;
    margin: 0 10 0 10;
    horizontal-align: center;
    vertical-align: center;

    label {
      text-align: center;
      horizontal-align: center;
      vertical-align: center;
    }

    .detail-value {
      font-size: 20;
      font-family: $os;
      font-weight: bold;
    }

    .detail-description {
      font-size: 12;
      font-family: $os;
    }
  }

  .CHART_LAYOUT_BASE {
    padding: 5;
    margin: 5;

    .title {
      font-family: $os-SemiBold;
      font-size: 18;
      vertical-align: center;
    }

    .more-icon {
      font-family: $material-icon;
      font-size: 24;
      horizontal-align: right;
      vertical-align: center;
    }

    /** Label Line Chart Styles **/
    .chart-stack {
      vertical-align: bottom;
      horizontal-align: center;
    }

    .chart-max-value {
      font-size: 8;
      color: $white;
      vertical-align: top;
    }

    .distance-line {
      vertical-align: bottom;
      horizontal-align: center;
      background-color: #de5f10;
      width: 5;
    }

    .line-label {
      text-align: center;
      horizontal-align: center;
      vertical-align: top;
      color: $white;
      font-size: 12;
    }
  }
}
