@import '../variables';
@import 'support-base';

.support-layout {
    @extend .SUPPORT_LAYOUT_BASE;
    background-color: $white;

    .search-layout {
        @extend .SEARCH_LAYOUT_BASE;

        .search-bar {
            @extend .SEARCH_BAR_BASE;
            placeholder-color: $dark-grey;
            color: $black;
            border-color: $black;
        }

        .search-btn {
            @extend .SEARCH_BUTTON_BASE;
            color: $black;
        }

        .cancel-search-btn {
            @extend .CANCEL_SEARCH_BUTTON_BASE;
            color: $black;
        }

  }

  .faq-list {
    @extend .FAQ_LIST_BASE;

    .item-icon {
      @extend .ITEM_ICON_BASE;
      color: $permobil-primary;
    }

    .faq-question {
      @extend .FAQ_QUESTION_BASE;
      color: $black;
    }

    .faq-answer {
      @extend .FAQ_ANSWER_BASE;
      color: $black;
    }
  }
}
