@import '../variables';
@import 'support-base';

.support-layout {
    @extend .SUPPORT_LAYOUT_BASE;
    background-color: $black;

    .search-layout {
        @extend .SEARCH_LAYOUT_BASE;

        .search-bar {
            @extend .SEARCH_BAR_BASE;
            placeholder-color: $light-grey;
            color: $white;
            border-color: $white;
        }

        .search-btn {
            @extend .SEARCH_BUTTON_BASE;
            color: $white;
        }

        .cancel-search-btn {
            @extend .CANCEL_SEARCH_BUTTON_BASE;
            color: $white;
        }
    }

    .filter-layout {
        @extend .FILTER_LAYOUT_BASE;

        .filter-title {
            @extend .FILTER_TITLE_BASE;
            color: $light-grey;
        }

        .filter-value {
            @extend .FILTER_VALUE_BASE;
            color: $white;
        }
    }

    .faq-list {
        @extend .FAQ_LIST_BASE;
        background-color: $black;
        color: $white;

        .item-icon {
            @extend .ITEM_ICON_BASE;
            color: $permobil-cousteau;
        }

        .faq-question {
            @extend .FAQ_QUESTION_BASE;
            color: $white;
        }

        .faq-answer {
            @extend .FAQ_ANSWER_BASE;
            color: $white;
        }

        .faq-link {
            @extend .FAQ_LINK_BASE;
            color: $permobil-cousteau;
        }
    }
}
