@import '../variables';

.SUPPORT_LAYOUT_BASE {
  height: 100%;
  width: 100%;
}

.FAQ_LIST_BASE {
  height: 100%;
  width: 100%;
  separator-color: transparent;
}

.ITEM_ICON_BASE {
  @extend .btn-transparent;

  font-size: 22;
  font-family: $material-icon;
  vertical-align: center;
  horizontal-align: center;
}

.SEARCH_LAYOUT_BASE {
    width: 90%;
}

.SEARCH_BAR_BASE {
    font-family: $os;
    border-bottom-width: 1;
}

.CANCEL_SEARCH_BUTTON_BASE {
  @extend .btn-transparent;
  padding: 4;
  margin: 2;
  font-family: $material-icon;
  font-size: 30;
  vertical-align: center;
  horizontal-align: center;
  height: 44;
  width: 44;
  border-radius: 22;
}

.SEARCH_BUTTON_BASE {
  @extend .btn-transparent;
  padding: 4;
  margin: 2;
  font-family: $material-icon;
  font-size: 30;
  vertical-align: center;
  horizontal-align: center;
  height: 44;
  width: 44;
  border-radius: 22;
}

.FAQ_QUESTION_BASE {
  font-size: 18;
  font-weight: bold;
  font-family: $os;
  margin: 2 5 5 5;
}

.FAQ_ANSWER_BASE {
  font-size: 14;
  font-family: $os;
  margin: 2 5 5 20;
}
