@import '../variables';
@import 'support-base';

.support-layout {
  @extend .SUPPORT_LAYOUT_BASE;
  background-color: $black;

  .faq-list {
    @extend .FAQ_LIST_BASE;
    background-color: $black;
  }

  .item-icon {
    @extend .ITEM_ICON_BASE;
    color: $permobil-sky;
  }

  .faq-question {
    @extend .FAQ_QUESTION_BASE;
    color: $white;
  }

  .faq-answer {
    @extend .FAQ_ANSWER_BASE;
    color: $white;
  }
}
