<StackLayout class="bottom-sheet-layout">
  <Label class="title" [text]="title | translate"></Label>
  <Label class="description" [text]="description | translate"></Label>

  <StackLayout orientation="horizontal">
    <Slider width="80%" class="slider" [value]="SLIDER_VALUE" (valueChange)="onSliderValueChange($event)" minValue="1" maxValue="10"></Slider>
    <Label width="20%" class="slider-value" [text]="(SLIDER_VALUE * 10).toFixed(0) + ' %'"></Label>
  </StackLayout>
  <StackLayout orientation="horizontal" marginTop="16" horizontalAlignment="right">
    <Button android:ripple android:rippleColorAlpha="0.18" [text]="'general.cancel' | translate" class="cancel-btn" (tap)="closeSliderSettingDialog()"></Button>
    <Button android:ripple android:rippleColorAlpha="0.18" [text]="'general.ok' | translate" class="ok-btn" (tap)="saveSliderSettingValue()"></Button>
  </StackLayout>
</StackLayout>
