<GridLayout rows="auto, *" columns="*" height="100%" class="device-setup-layout">
  <Label row="0" col="0" [text]="'device-setup.title' | translate" class="page-title" textWrap="true"></Label>
  <GridLayout row="1" col="0" rows="auto, auto, auto, *" columns="*">
    // Main Lottie
    <LottieView row="0" src="PushTracker_E2.json" class="align-center" loop="true" autoPlay="true" width="100%" height="40%" *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_E2_WITH_SMARTDRIVE"></LottieView>
    <LottieView row="0" src="PushTracker.json" class="align-center" loop="true" autoPlay="true" width="100%" height="40%" *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_WITH_SMARTDRIVE"> </LottieView>

    // Slide Title
    <label row="1" [text]="slide['Label']" class="slideTitle" textWrap="true"></label>

    <Label class="hr" row="2"></Label>

    <ScrollView *ngIf="slide" row="3">
      <StackLayout paddingBottom="20">
        <StackLayout orientation="horizontal">
          <Label textWrap="true" class="bullet-next-to-lottie" width="80%" [text]="slide['IconText']"></Label>
          <pushtracker-status-button verticalAlignment="middle" marginLeft="-5" *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_WITH_SMARTDRIVE"> </pushtracker-status-button>
          <e2-status-button verticalAlignment="middle" [allowUserInteraction]="false" marginLeft="-5" *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_E2_WITH_SMARTDRIVE"> </e2-status-button>
        </StackLayout>
        <label *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_WITH_SMARTDRIVE" [text]="slide['Text']" class="bullet" textWrap="true"></label>
        <label *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_E2_WITH_SMARTDRIVE" [text]="isAndroid() ? slide['AndroidText'] : slide['IOSText']" class="bullet" textWrap="true"></label>
        <StackLayout row="0" horizontalAlignment="center">
          <StackLayout horizontalAlignment="center" orientation="horizontal" width="80%" marginBottom="10">
            <LottieView
              height="50"
              width="75"
              class="align-center"
              [src]="CURRENT_THEME === APP_THEMES.DEFAULT ? 'bluetooth_default.json' : 'bluetooth_dark.json'"
              loop="true"
              autoPlay="true"
              *ngIf="!showDoneButton && !showFailure && slide"
            ></LottieView>
            <LottieView height="25" width="25" class="align-center" src="success_green.json" loop="false" autoPlay="true" *ngIf="showDoneButton"></LottieView>
            <LottieView height="25" width="25" class="align-center" src="failure_red.json" loop="false" autoPlay="true" *ngIf="showFailure"></LottieView>
            <Label [marginLeft]="showDoneButton || showFailure ? 10 : -20" class="device-setup-status-label align-center" textWrap="true" [text]="statusMessage"></Label>
          </StackLayout>

          <button
            *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_E2_WITH_SMARTDRIVE"
            horizontalAlignment="center"
            class="permobil-green-btn"
            [text]="'device-setup.e2.repair' | translate"
            [visibility]="hasPairedE2 ? 'visible' : 'collapsed'"
            (tap)="pairPushTrackerE2()"
          ></button>
          <button horizontalAlignment="center" *ngIf="showFailure" class="permobil-green-btn" [text]="failureButtonText" (tap)="pairPushTrackerE2()"></button>
          <button horizontalAlignment="center" *ngIf="showDoneButton" class="permobil-green-btn" [text]="doneButtonText" (tap)="onDoneTap($event)"></button>
          <button horizontalAlignment="center" *ngIf="!showDoneButton" class="permobil-grey-btn" marginTop="5" [text]="doLaterButtonText" (tap)="onDoLaterTap($event)"></button>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
</GridLayout>
