<GridLayout rows="auto, *" marginTop="20" class="device-setup-layout">
    <Label row="0" col="1" [text]="'device-setup.title' | translate" class="page-title" textWrap="true"></Label>
    <GridLayout row="1" col="0" rows="auto, auto" cols="*" marginTop="20">
        <StackLayout *ngIf="slides.length && slides[slideIndex].Image" (loaded)="onTopSlideLoaded($event)"
            class="topSlide" row="0" width="100%" orientation="horizontal" horizontalAlignment="center">
            // only shows when the slide.Image is a gif
            <Gif (loaded)="onGifLoaded($event)" *ngIf="isGif(slides[slideIndex].Image)"
                [src]="slides[slideIndex].Image"></Gif>
            // show only when not a gif
            <image *ngIf="!isGif(slides[slideIndex].Image)" [src]="slides[slideIndex].Image" stretch="aspectFit">
            </image>
        </StackLayout>
        <ScrollView *ngIf="slides.length" row="1" class="lowerSlide" height="55%">
            <StackLayout>
                <label [text]="slides[slideIndex].Label" class="slideLowerLabel" textWrap="true"></label>
                <label *ngFor="let bullet of slides[slideIndex].Bullets" [text]="bullet" class="bullet"
                    textWrap="true">
                </label>
                <GridLayout row="1" col="0" rows="*" cols="*" marginTop="20">
                    <StackLayout marginLeft="10" *ngIf="slides.length" row="0" width="50%" orientation="horizontal"
                        horizontalAlignment="left">
                        <button *ngIf="slideIndex > 0" horizontalAlignment="left" class="permobil-ocean-btn" width="50%"
                            height="30%" [text]="'device-setup.previous' | translate"
                            (tap)="onPreviousTap($event)"></button>
                        <button *ngIf="!showDoneButton" horizontalAlignment="left" class="permobil-grey-btn" width="70%"
                            height="30%" [text]="'device-setup.do-later' | translate"
                            (tap)="onSkipTap($event)"></button>
                    </StackLayout>
                    <StackLayout marginRight="10" row="0" width="50%" orientation="horizontal" horizontalAlignment="right">
                        <button *ngIf="slides.length && slideIndex < (slides.length - 1)" horizontalAlignment="right"
                            class="permobil-ocean-btn" height="30%" width="50%" [text]="'device-setup.next' | translate"
                            (tap)="onNextTap($event)"></button>
                        <button *ngIf="showDoneButton" horizontalAlignment="right"
                            class="permobil-ocean-btn" height="30%" width="50%" [text]="'device-setup.done' | translate"
                            (tap)="onDoneTap($event)"></button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</GridLayout>