<GridLayout rows="auto, *" class="device-setup-layout">
    <Label row="0" col="1" [text]="'device-setup.title' | translate" class="page-title" textWrap="true"></Label>
    <ActivityIndicator
        row="0"
        height="7%"
        width="7%"
        verticalAlignment="center"
        horizontalAlignment="right"
        *ngIf="!showDoneButton && slides.length"
        color="#0067a6"
        busy="true"
        marginRight="15"
    ></ActivityIndicator>
    <GridLayout row="1" col="0" rows="auto, auto" cols="*" paddingTop="20">
        <StackLayout *ngIf="slides.length && slides[slideIndex] && slides[slideIndex].Image" (loaded)="onTopSlideLoaded($event)"
            class="topSlide" row="0" width="100%" orientation="horizontal" horizontalAlignment="center">
            // only shows when the slide.Image is a gif
            <Gif (loaded)="onGifLoaded($event)" *ngIf="isGif(slides[slideIndex].Image)"
                [src]="slides[slideIndex].Image"></Gif>
            // show only when not a gif
            <image *ngIf="!isGif(slides[slideIndex].Image)" [src]="slides[slideIndex].Image" stretch="aspectFit">
            </image>
        </StackLayout>
        <ScrollView *ngIf="slides.length" row="1" class="lowerSlide" height="55%">
            <StackLayout>
                <label [text]="slides[slideIndex].Label" class="slideLowerLabel" textWrap="true"></label>
                <label *ngFor="let bullet of slides[slideIndex].Bullets" [text]="bullet" class="bullet"
                    textWrap="true">
                </label>
                <StackLayout row="0" width="50%" orientation="horizontal" horizontalAlignment="center">
                    <button horizontalAlignment="center"
                        [class]="showDoneButton ? 'permobil-green-btn' : 'permobil-grey-button'"
                        height="30%" [text]="showDoneButton ? doneButtonText : doLaterButtonText"
                        (tap)="showDoneButton ? onDoneTap($event) : onSkipTap($event)">
                    </button>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</GridLayout>