@import '../variables';
@import 'app-info-base';

.app-info-layout {
  @extend .APP_INFO_LAYOUT_BASE;
  @include colorize($background-color: background);

  .close-btn {
    @extend .CLOSE_BTN_BASE;
    color: $black;
  }

  .more-btn {
    @extend .MORE_BTN_BASE;
    color: $black;
  }

  .title {
    @extend .TITLE_BASE;
    color: $black;
  }

  .section-title {
    @extend .SECTION_TITLE_BASE;
    color: $black;
  }

  .section-text {
    @extend .SECTION_TEXT_BASE;
    color: lighten($black, 10%);
  }
}
