@import 'variables';

.appInfoLayout {
  background-color: $black;
  height: 100%;
  width: 100%;

  GridLayout {
    padding: 10;
  }

  #closeModalButton {
    color: $white;
  }

  #moreButton {
    color: $white;
  }

  .title {
    color: $white;
    font-size: 26;
    font-family: $os;
    font-weight: bold;
    text-align: center;
    horizontal-align: center;
  }

  .section-title {
    color: darken($white, 10%);
    font-size: 20;
    font-family: $os;
    text-align: center;
    horizontal-align: center;
    margin: 10 0 10 0;
  }

  .section-text {
    color: $white;
    font-size: 14;
    font-family: $os-Light;
    margin: 10 0 30 0;
  }
}
