/*** Buttons **/
@import 'variables';

.light-btn {
  background-color: $white;
  color: $black;
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
}

.white-btn {
  background-color: $white;
  color: $primary;
}
