// customized variables
@import 'variables';
// theme standard rulesets
@import '~nativescript-theme-core/scss/index';

ListView {
  height: 100%;
}

RadListView {
  height: 100%;
}

/*** Fonts ***/
.material-icon {
  font-family: $material-icon;
}

.align-center {
  horizontal-align: center;
  vertical-align: center;
}

.text-middle {
  vertical-align: center;
}

.bold {
  font-weight: bold;
  font-family: $os-SemiBold;
}

.very-bold {
  font-weight: 700;
  font-family: $os-SemiBold;
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
}

.text-white {
  color: $white;
}

// ActionBar Base (works for built in actionbar component and our mock action bar gridlayout)
.ACTION_BAR_BASE {
  .BACK_BTN_BASE {
    @extend .btn-transparent;
    height: 50;
    width: 50;
    border-radius: 25;
    font-size: 30;
    padding: 4;
    font-family: $material-icon;
    horizontal-align: left;
    vertical-align: center;
  }

  .ACTION_BAR_TITLE_BASE {
    font-size: 22;
    font-family: $os;
    margin-left: 5;
    padding: 4;
    vertical-align: center;
  }

  .ACTION_BAR_BUTTON_BASE {
    @extend .btn-transparent;
    font-family: $material-icon;
    height: 50;
    width: 50;
    border-radius: 25;
    font-size: 30;
    margin: 0 2 0 2;
    padding: 0 2 0 2;
  }

  .ACTION_ITEM_BTN_BASE {
    button {
      @extend .btn-transparent;
    }
    padding: 4;
    margin: 2;
    font-family: $material-icon;
    font-size: 30;
    vertical-align: center;
  }
}

// TextBox BASE CLASS
// @extend this class in the themes for the correctly styled textbox

.MAX_TEXTBOX_BASE {
  horizontal-align: center;
  vertical-align: center;
  padding: 5;
  margin: 0 10 0 15;

  .max-textbox-label {
    font-family: $os-SemiBold;
    font-size: 13;
    text-align: left;
    padding: 5;
    translate-y: 13;
    z-index: 9999;
    margin-top: 4;
    margin-left: 10;
    horizontal-align: left;
    vertical-align: center;
  }

  GridLayout {
    border-width: 2;
    border-radius: 6;
    width: 100%;
    height: 60;

    > .max-textbox-value {
      font-family: $os;
      font-size: 16;
      font-weight: bold;
      margin-left: 10;
      vertical-align: center;
    }
  }
}

.ERROR_LABEL_BASE {
  font-size: 13;
  margin: 2 8 2 14;
}

// DataBox Global styles

.DATA_BOX_BASE {
  horizontal-align: center;
  vertical-align: center;
  padding: 5;
  margin: 0 10 0 15;

  .data-box-label {
    font-family: $os-SemiBold;
    font-size: 13;
    text-align: left;
    padding: 5;
    translate-y: 13;
    z-index: 9999;
    margin-top: 4;
    margin-left: 10;
    horizontal-align: left;
    vertical-align: center;
  }

  GridLayout {
    border-width: 2;
    border-radius: 6;
    width: 100%;
    height: 60;

    > .data-box-value {
      font-family: $os;
      font-size: 16;
      font-weight: bold;
      margin-left: 10;
      vertical-align: center;
    }

    > .data-box-arrow {
      font-size: 30;
      font-family: $material-icon;
      text-align: right;
      vertical-align: center;
      margin-right: 2;
    }
  }
}
