@import 'variables';

.home-tab-layout {
  background-color: $black;
  height: 100%;
  width: 100%;
  padding: 10;

  .infoBtn {
    @extend .btn-transparent;
    color: $white;
    font-size: 18;
    horizontal-align: right;
    vertical-align: top;
    margin: 4;
  }

  .cousteauCircle {
    background-color: $permobil-cousteau-light;
    color: $permobil-cousteau-dark;
    font-size: 36;
    height: 50;
    width: 50;
    border-radius: 25;
    text-align: center;
    vertical-align: center;
    horizontal-align: center;
    android-elevation: 10;
  }

  .violetCircle {
    background-color: $permobil-violet-light;
    color: $permobil-violet-dark;
    font-size: 36;
    height: 50;
    width: 50;
    border-radius: 25;
    text-align: center;
    vertical-align: center;
    horizontal-align: center;
    android-elevation: 10;
  }

  .circleDetails {
    height: 100;
    width: 100;
    border-radius: 50;
    background-color: $permobil-violet-light;
    color: $permobil-violet-dark;
    android-elevation: 10;

    label {
      color: $white;
      horizontal-align: center;
      vertical-align: center;
    }
  }

  .dataDetails {
    horizontal-align: center;
    vertical-align: center;

    label {
      color: $white;
      font-weight: bold;
      text-align: center;
      horizontal-align: center;
      vertical-align: center;
    }
  }
}
