@import 'variables';

.distanceCircle {
  background-color: transparent;
  fill-color: transparent;
  width: 98%;
  height: 98%;
  bar-color: $permobil-cousteau;
  rim-color: $sd-battery-rim-color;
}

.circleDetails {
  height: 80;
  width: 80;
  border-radius: 40;
  background-color: purple;
  android-elevation: 4;
}
