@import 'variables';

.avatarCircle {
  background-color: $black;
  height: 60;
  width: 60;
  border-radius: 30;
  text-align: center;

  label {
    color: $white;
    font-size: 36;
    horizontal-align: center;
    vertical-align: center;
  }
}
