@import 'variables';
.profile-tab-layout{
  background-color: $white;
  height: 100%;
  width: 100%;
  padding: 10;
  
}
.profile-name {
  color: $black;
  font-weight: bold;
  text-align: left;
  horizontal-align: left;
  vertical-align: bottom;
}
.profile-email {
  color: $black;
  font-weight: lighter;
  text-align: left;
  horizontal-align: left;
  vertical-align: top;
}
.section-label {
  color: $black;
  font-weight: bold;
  text-align: left;
  horizontal-align: left;
  vertical-align: center;
  margin: 20 40 10 10;
} 

.avatar-circle {
  background-color: $black;
  margin: 10 20;
  height: 60;
  width: 60;
  border-radius: 30;
  text-align: center;

  label {
    color: $white;
    font-size: 36;
    horizontal-align: center;
    vertical-align: center;
  }
}

.activityGoals {
  horizontal-align: center;
  vertical-align: center;

  label {
    color: #767a7e;
    text-align: left;
    margin-top: 20;
    horizontal-align: left;
    vertical-align: center;
  }
  StackLayout {
    border-color: #dadce0;
    border-width: 2;
    border-radius: 5;
    width: 150;
    height: 80;
  }
}