@import 'global';
@import 'variables';
@import './app-info/app-info-dark';
@import './animated-circles/circles-dark';
@import './action-bar/action-bar-dark';
@import './home-tab/home-tab-dark';
@import './journey-tab/journey-tab-dark';
@import './login/login-dark';
@import './profile-tab/profile-tab-dark';
@import './profile-settings/profile-settings-dark';

TabView {
  tab-background-color: $black;
  // android-selected-tab-highlight-color: $white;
  tab-text-color: $inactive-grey;
  selected-tab-text-color: $permobil-primary;
}

.hr {
  height: 1;
  width: 100%;
  color: $white;
  background-color: $white;
}
