@import 'global';
@import 'variables';
@import './app-info/app-info-dark';
@import './animated-circles/circles-dark';
@import './action-bar/action-bar-dark';
@import './home-tab/home-tab-dark';
@import './journey-tab/journey-tab-dark';
@import './login/login-dark';
@import './profile-tab/profile-tab-dark';
@import './profile-settings/profile-settings-dark';
@import './sign-up/sign-up-dark';

TabView {
  tab-background-color: $black;
  // android-selected-tab-highlight-color: $white;
  tab-text-color: $inactive-grey;
  selected-tab-text-color: $permobil-primary;
}

.hr {
  height: 1;
  width: 100%;
  color: $white;
  background-color: $white;
}

// TextBox

.textbox {
  @extend .TEXTBOX_BASE;

  .textbox-label {
    color: $grey;
    background-color: $black;
  }

  GridLayout {
    background-color: $black;
    border-color: #e8e9eb;

    > .textbox-value {
      color: $white;
    }
  }
}

.textbox-active {
  @extend .TEXTBOX_BASE;
  .textbox-label {
    color: $permobil-cousteau;
    background-color: $black;
  }

  GridLayout {
    border-color: $permobil-cousteau;

    > .textbox-value {
      color: $white;
    }
  }
}

.textbox-error-label {
  @extend .ERROR_LABEL_BASE;

  color: $error-red;
}
