@import 'global';
@import 'variables';
@import './app-info/app-info-default';
@import './animated-circles/circles-default';
@import './action-bar/action-bar-default';
@import './home-tab/home-tab-default';
@import './journey-tab/journey-tab-default';
@import './login/login-default';
@import './profile-tab/profile-tab-default';
@import './profile-settings/profile-settings-default';

TabView {
  tab-background-color: $white;
  // android-selected-tab-highlight-color: $permobil-primary;
  tab-text-color: $inactive-grey;
  selected-tab-text-color: $permobil-primary;
}

.hr {
  height: 1;
  width: 100%;
  color: #e9eaee;
  background-color: #e9eaee;
}

// TextBox

.textbox {
  @extend .TEXTBOX_BASE;

  .textbox-label {
    color: #4b4d51;
    background-color: $white;
  }

  GridLayout {
    border-color: #e8e9eb;

    > .textbox-value {
      color: #3d4144;
    }
  }
}

.textbox-active {
  @extend .TEXTBOX_BASE;
  .textbox-label {
    color: #1c72e6;
    background-color: $white;
  }

  GridLayout {
    border-color: #1c72e6;

    > .textbox-value {
      color: #3d4144;
    }
  }
}
