@import 'variables';
@import 'common';
@import 'app-info-dark';
@import 'circles-dark';
@import 'action-bar-dark';
@import 'home-tab-dark';
@import 'journey-tab-dark';
@import 'login-dark';
@import 'profile-tab-dark';

TabView {
  tab-background-color: $black;
  // android-selected-tab-highlight-color: $white;
  tab-text-color: $inactive-grey;
  selected-tab-text-color: $permobil-primary;
}
