@import '../variables';

.ACTIVITY_TAB_LAYOUT_BASE {
  height: 100%;
  width: 100%;

  .PAGE_TITLE_BASE {
    font-size: 24;
    font-family: $os;
    color: $black;
    padding-left: 10;
    margin-top: 5;
  }

  .CHART_TITLE_BASE {
    font-size: 16;
    font-family: $os;
    color: $black;
  }

  .CLOSE_BTN_BASE {
    @extend .btn-transparent;
    padding: 4;
    font-size: 30;
    font-family: $material-icon;
    horizontal-align: left;
  }

  .BACK_BTN_BASE {
    @extend .btn-transparent;
    padding: 4;
    font-size: 24;
    font-family: $material-icon;
    horizontal-align: left;
  }

  .FORWARD_BTN_BASE {
    @extend .btn-transparent;
    padding: 4;
    font-size: 24;
    font-family: $material-icon;
    horizontal-align: right;    
  }

  .MORE_BTN_BASE {
    @extend .btn-transparent;
    padding: 4;
    font-size: 30;
    font-family: $material-icon;
    horizontal-align: right;
  }

  .TITLE_BASE {
    font-size: 26;
    font-family: $os;
    font-weight: bold;
  }

  .SECTION_TITLE_BASE {
    font-size: 18;
    font-family: $os;
    font-weight: bold;
    text-align: center;
    horizontal-align: center;
    margin: 10 0 10 0;
  }

  .SECTION_TEXT_BASE {
    font-size: 14;
    font-family: $os-Light;
    margin: 10 0 30 0;
  }
}
