@import '../variables';
@import 'activity-tab-base';

.activity-tab-layout {
  @extend .ACTIVITY_TAB_LAYOUT_BASE;

  GridLayout,
  StackLayout,
  ScrollView {
    background-color: $black;
  }

  .prev-btn {
    @extend .PREV_BTN_BASE;
    color: $white;
  }

  .next-btn {
    @extend .NEXT_BTN_BASE;
    color: $white;
  }

  .next-btn-disabled {
    @extend .NEXT_BTN_BASE;
    color: $grey;
  }

  .chart-title {
    @extend .CHART_TITLE_BASE;
    color: $white;
  }

  .chevron-left {
    @extend .CHEVRON_LEFT_BASE;
    color: $permobil-sky;
  }

  .chart-description {
    @extend .CHART_DESCRIPTION_BASE;
    color: $white;
  }

  .chart-label {
    @extend .CHART_TITLE_BASE;
    color: $white;
  }

  .coast-time-btn-disabled,
  .push-count-btn-disabled,
  .distance-btn-disabled {
    @extend .CHART_VIEW_BTN_BASE;
    background-color: $dark-grey;
    color: $white;
  }

  .coast-time-btn-enabled,
  .push-count-btn-enabled,
  .distance-btn-enabled {
    @extend .CHART_VIEW_BTN_BASE;
    background-color: $white;
    color: $black;
  }

  RadCartesianChart {
    background-color: $black;
    color: $white;
  }

  SegmentedBar {
    color: $white;
  }

  .goal-description {
    @extend .GOAL_DESCRIPTION_BASE;
    color: $white;
    font-size: 16;
  }

  .no-daily-data {
    @extend .goal-description;
    font-size: 16;
  }
}
