@import '../variables';
@import 'activity-tab-base';

.activity-tab-layout {
  @extend .ACTIVITY_TAB_LAYOUT_BASE;
  background-color: $white;

  .close-btn {
    @extend .CLOSE_BTN_BASE;
    color: $black;
  }

  .back-btn {
    @extend .BACK_BTN_BASE;
    color: $black;
  }

  .forward-btn {
    @extend .FORWARD_BTN_BASE;
    color: $black;
  }

  .forward-btn-disabled {
    @extend .FORWARD_BTN_BASE;
    color: $grey;
  }

  .more-btn {
    @extend .MORE_BTN_BASE;
    color: $black;
  }

  .title {
    @extend .TITLE_BASE;
    color: $black;
  }

  .section-title {
    @extend .SECTION_TITLE_BASE;
    color: $black;
  }

  .section-text {
    @extend .SECTION_TEXT_BASE;
    color: lighten($black, 10%);
  }

  .page-title {
    @extend .PAGE_TITLE_BASE;
    color: $black;
  }

  .chart-title {
    @extend .CHART_TITLE_BASE;
    color: $black;
  }  

  TabView {
    text-transform: none;
    tab-text-font-size: 11;
    tab-text-color: $black;
    selected-tab-text-color: $black;
    tab-background-color: $white;
    android-selected-tab-highlight-color: $black;
  }

  .coast-time-btn-disabled,
  .distance-btn-disabled {
    @extend .CHART_VIEW_BTN_BASE;
    background-color: $white;
    color: $dark-grey;
    font-weight: bold;
    text-transform: none;
  }

  .coast-time-btn-enabled,
  .distance-btn-enabled {
    @extend .CHART_VIEW_BTN_BASE;
    background-color: #d8e5f2;
    color: #4282c1;
    font-weight: bold;
    text-transform: none;
  }
  
}
