@import '../variables';
@import 'activity-tab-base';

.activity-tab-layout {
  @extend .ACTIVITY_TAB_LAYOUT_BASE;

  GridLayout,
  StackLayout,
  ScrollView {
    background-color: $black;
  }

  .close-btn {
    @extend .CLOSE_BTN_BASE;
    color: $white;
  }

  .back-btn {
    @extend .BACK_BTN_BASE;
    color: $white;
  }

  .forward-btn {
    @extend .FORWARD_BTN_BASE;
    color: $white;
  }

  .forward-btn-disabled {
    @extend .FORWARD_BTN_BASE;
    color: $grey;
  }  

  .more-btn {
    @extend .MORE_BTN_BASE;
    color: $white;
  }

  .title {
    @extend .TITLE_BASE;
    color: $white;
  }

  .section-title {
    @extend .SECTION_TITLE_BASE;
    color: $white;
  }

  .section-text {
    @extend .SECTION_TEXT_BASE;
    color: darken($white, 10%);
  }

  .page-title {
    @extend .PAGE_TITLE_BASE;
    color: $white;
  }

  .chart-title {
    @extend .CHART_TITLE_BASE;
    color: $white;
  }

  TabViewItem {
    font-size: 16;
  }

  TabView {
    tab-text-font-size: 11;
    tab-text-color: $white;
    selected-tab-text-color: $white;
    tab-background-color: $black;
    android-selected-tab-highlight-color: $white;
  }

  .coast-time-btn-disabled,
  .distance-btn-disabled {
    @extend .CHART_VIEW_BTN_BASE;
    background-color: $black;
    color: $white;
    font-weight: bold;
    text-transform: none;
  }

  .coast-time-btn-enabled,
  .distance-btn-enabled {
    @extend .CHART_VIEW_BTN_BASE;
    background-color: #502980;
    color: $white;
    font-weight: bold;
    text-transform: none;
  }

  RadCartesianChart {
    background-color: $black;
    color: $white;
  }

  Label {
    color: $white;
  }

}
