@import '../variables';

.ACTIVITY_TAB_LAYOUT_BASE {
  height: 100%;
  width: 100%;

  .CHART_TITLE_BASE {
    font-size: 18;
    font-family: $os;
    font-weight: bold;
    margin: 2;
    horizontal-align: center;
    vertical-align: bottom;
    text-align: center;
  }

  .CHART_DESCRIPTION_BASE {
    font-size: 14;
    font-family: $os;
    margin: 2;
    horizontal-align: center;
    vertical-align: top;
    text-align: center;
    text-wrap: true;
  }

  .CHEVRON_LEFT_BASE {
    font-size: 18;
    font-family: $material-icon;
    vertical-align: center;
    horizontal-align: right;
  }

  .GOAL_DESCRIPTION_BASE {
    font-size: 12;
    font-family: $os;
    margin: 6 8 6 8;
    vertical-align: center;
    text-wrap: true;
  }

  .PREV_BTN_BASE {
    @extend .btn-transparent;
    height: 50;
    width: 50;
    border-radius: 25;
    font-size: 30;
    margin: 2;
    font-family: $material-icon;
    horizontal-align: left;
    vertical-align: center;
  }

  .NEXT_BTN_BASE {
    @extend .btn-transparent;
    height: 50;
    width: 50;
    border-radius: 25;
    font-size: 30;
    margin: 2;
    font-family: $material-icon;
    horizontal-align: right;
    vertical-align: center;
  }

  .CHART_VIEW_BTN_BASE {
    font-weight: bold;
    font-size: 12;
    text-transform: capitalize;
    margin: 2 4 2 4;
    padding: 8;
    border-radius: 3;
  }
}
