@import '../variables';

.DEVICE_SETUP_LAYOUT_BASE {
  height: 100%;
  width: 100%;
}

.PAGE_TITLE_BASE {
  font-size: 36;
  font-family: $os;
  padding-left: 10;
  margin-left: 5;
  margin-bottom: 20;
}

.SLIDE_TITLE_BASE {
  text-align: center;
  font-family: $os-Light;
  font-size: 25;
  margin: 20, 0, 10, 15;
  font-weight: bold;
}

.BULLET_BASE {
  font-family: $os-Light;
  font-size: 13;
  text-align: left;
  margin: 10, 20, 10, 15;
}

.BULLET_NEXT_TO_LOTTIE_BASE {
  font-family: $os-Light;
  font-size: 13;
  text-align: left;
  margin: 10, 0, 10, 15;
  padding: 0;
}

.pushtracker-status-label {
  font-size: 12;
}
