@import '../variables';
@import 'device-setup-base';

.device-setup-layout {
  @extend .DEVICE_SETUP_LAYOUT_BASE;


  .device-setup-title {
    @extend .DEVICE_SETUP_TITLE_BASE;
  }

  .slideTitle {
    @extend .SLIDE_TITLE_BASE;
  }

  .bullet {
    @extend .BULLET_BASE;
  }

  .bullet-next-to-lottie {
    @extend .BULLET_NEXT_TO_LOTTIE_BASE;
  }

  .permobil-green-btn {
    background-color: $permobil-success;
  }

  .permobil-grey-btn {
    background-color: $permobil-steel;

  }

  .device-setup-status-label {
    color: $black;
    .ns-dark & {
      color: $white;
    }
  }
}
