@import '../variables';
@import 'device-setup-base';

.device-setup-layout {
  @extend .DEVICE_SETUP_LAYOUT_BASE;
  background-color: $black;

  .device-setup-title {
    @extend .DEVICE_SETUP_TITLE_BASE;
    color: $white;
  }

  .slideTitle {
    @extend .SLIDE_TITLE_BASE;
    color: $white;
  }

  .bullet {
    @extend .BULLET_BASE;
    color: $white;
  }

  .bullet-next-to-lottie {
    @extend .BULLET_NEXT_TO_LOTTIE_BASE;
    color: $white;
  }

  .permobil-green-btn {
    background-color: $permobil-success;
    color: $white;
  }

  .permobil-grey-btn {
    background-color: $permobil-steel;
    color: $white;
  }

  .device-setup-status-label {
    color: $white;
  }
}
