@import '../../variables';
@import 'custom-template-dialog-base';

.custom-template-dialog {
  @extend .CUSTOM_TEMPLATE_DIALOG_BASE;

  background-color: $light-custom-dialog-layout-shadow;

  > StackLayout {
    .title {
      color: #202125;
    }

    .description {
      color: #393a3f;
    }

    .listpicker {
      color: $permobil-primary;
    }

    .slider-value {
      color: #202125;
    }

    .cancel-btn {
      color: $permobil-primary;
    }

    .ok-btn {
      color: $permobil-primary;
    }
  }
}
