@import '../../variables';
@import 'data-box-base';

// DataBox Dark
.data-box {
  @extend .DATA_BOX_BASE;

  .data-box-label {
    color: #898e94;
    background-color: $black;
  }

  > GridLayout {
    background-color: $black;
    border-color: #4c4f54;

    > .data-box-value {
      color: $white;
    }

    > .data-box-arrow {
      color: $grey;
    }
  }
}

.data-box-active {
  @extend .DATA_BOX_BASE;
  .data-box-label {
    color: $permobil-sky;
    background-color: $black;
  }

  GridLayout {
    border-color: $permobil-sky;
  }
}

.data-box-error-label {
  @extend .ERROR_LABEL_BASE;
  color: $error-red;
}
