@import '../../variables';
@import 'data-box-base';

.data-box {
  @extend .DATA_BOX_BASE;
  .data-box-label {
    @include colorize($background-color: background);
  }

  GridLayout {
    border-color: #e8e9eb;

    > .data-box-value {
      color: #3d4144;
    }

    > .data-box-icon {
  
    }

    > .data-box-arrow {
      color: #5f6267;
    }

    > .data-box-edit {
      color: #5f6267;
    }
  }
}

.data-box-active {
  @extend .DATA_BOX_BASE;
  .data-box-label {
    color: $permobil-primary;
  }

  GridLayout {
    border-color: $permobil-primary;
  }
}
.data-box-error-label {
  @extend .ERROR_LABEL_BASE;
  color: $error-red;
}
