@import 'variables';

Page {
  background-color: $black;
}

.page {
  background-color: $black;
}

/** Buttons **/
.power-assist-btn {
  border-radius: 50%;
  horizontal-align: $center;
  vertical-align: $center;
}

.updates-btn {
  font-size: 15;
  border-radius: 50%;
  width: 60%;
  height: 25%;
  horizontal-align: $center;
  vertical-align: $center;
  margin: 0, 0, 0, 0;
}

.circle-image-btn {
  height: 48;
  width: 48;
  border-radius: 24;
  vertical-align: center;
  horizontal-align: center;

  StackLayout {
    height: 48;
    width: 48;
    border-radius: 24;
    height: 100%;
    width: 100%;
    vertical-align: center;
    horizontal-align: center;

    label {
      font-family: $icomoon;
      font-size: 36;
      vertical-align: center;
      horizontal-align: center;
    }
  }
}

.center-label-base {
  horizontal-align: $center;
  vertical-align: $center;
  text-align: $center;
  text-wrap: true;
}

.ambient-show {
  color: $ambient-white;
}
.ambient-hide {
  color: $black;
}

.no-margin {
  margin: 0, 0, 0, 0;
}

.no-padding {
  padding: 0, 0, 0, 0;
}

/** Label Line Chart Styles **/
.chart-title {
  horizontal-align: center;
  text-align: center;
  font-size: 13;
}

/** Battery Icon on Main page for Power Assist **/
.batteryIcon {
  background-color: $black;
}

.bold {
  font-weight: bold;
}

.fs10 {
  font-size: 10;
}
.fs12 {
  font-size: 12;
}
.fs14 {
  font-size: 14;
}
.fs16 {
  font-size: 16;
}
.fs18 {
  font-size: 18;
}
.fs20 {
  font-size: 20;
}
.fs22 {
  font-size: 22;
}
.fs24 {
  font-size: 24;
}
.fs26 {
  font-size: 26;
}
.fs28 {
  font-size: 28;
}
.fs30 {
  font-size: 30;
}
.fs32 {
  font-size: 32;
}
