@import 'variables';
@import 'common';

$update-progress-color: #B9B9B9;
$update-progress-rim-color: $black;
$update-progress-spinner-color: #B9B9B9;

.updateProgressCircle {
  background-color: transparent;
  fill-color: transparent;
  width: 100%;
  height: 100%;
  spin-bar-color: $update-progress-spinner-color;
  bar-color: $update-progress-color;
  rim-color: $update-progress-rim-color;
}

.action-label {
  font-size: 15;
  font-weight: normal;
  text-align: $center;
  color: $ambient-white;
  vertical-align: $center;
  horizontal-align: $center;
  margin: 2 0 2 0;
}

.update-status-label {
  color: $white;
  font-size: 18;
  vertical-align: bottom;
  text-align: $center;
  horizontal-align: $center;
}

.action-start,
.action-pause,
.action-resume,
.action-close,
.action-cancel,
.action-force,
.action-retry {
    @extend .updates-btn;
  color: $ambient-white;
  background-color: $black;
}

.action-back {
  @extend .updates-btn;
  height: 25%;
  color: $ambient-white;
  background-color: $black;
  margin: 5 0 0 0;
  padding: 0;
}

.currentTime {
  color: $ambient-white;
  font-size: 18;
  horizontal-align: $center;
  vertical-align: bottom;
}

.currentTimeMeridiem {
  color: $ambient-white;
  font-size: 10;
  horizontal-align: $center;
  vertical-align: bottom;
}
