@import 'variables';
@import 'common';

$update-progress-color: #009ac7;
$update-progress-rim-color: #696969;
$update-progress-spinner-color: #009ac7;

$start-color: #00a73c;
$pause-color: #ff8900;
$resume-color: #00a73c;
$cancel-color: #db4537;
$force-color: #ff8900;
$retry-color: #00a73c;

.updateProgressCircle {
  background-color: transparent;
  fill-color: transparent;
  width: 100%;
  height: 100%;
  bar-color: $update-progress-color;
  rim-color: $update-progress-rim-color;
  spin-bar-color: $update-progress-spinner-color;
}

.action-label {
  font-size: 15;
  font-weight: normal;
  text-align: $center;
  color: $white;
  vertical-align: $center;
  horizontal-align: $center;
  margin: 2 0 2 0;
}

.topValue {
  color: $white;
  font-size: 18;
  horizontal-align: $center;
  vertical-align: top;
}

.topValueDescription {
  color: $white;
  font-size: 10;
  horizontal-align: $center;
  vertical-align: top;
}

.action-start {
    @extend .updates-btn;
  color: $white;
  background-color: $start-color;
}

.action-pause {
    @extend .updates-btn;
  color: $white;
  background-color: $pause-color;
}

.action-resume {
    @extend .updates-btn;
  color: $white;
  background-color: $resume-color;
}

.action-cancel {
    @extend .updates-btn;
  color: $white;
  background-color: $cancel-color;
}

.action-back {
  @extend .updates-btn;
  height: 25%;
  color: $white;
  background-color: $cancel-color;
  margin: 5 0 0 0;
  padding: 0;
}

.action-force {
    @extend .updates-btn;
  color: $white;
  background-color: $force-color;
}

.action-retry {
    @extend .updates-btn;
  color: $white;
  background-color: $retry-color;
}

.currentTime {
  color: $white;
  font-size: 18;
  horizontal-align: $center;
  vertical-align: bottom;
}

.currentTimeMeridiem {
  color: $white;
  font-size: 10;
  horizontal-align: $center;
  vertical-align: bottom;
}
