@import '../variables';

.SIGN_UP_LAYOUT_BASE {
  height: 100%;
  width: 100%;
  padding: 10;

  .SUBMIT_BTN_BASE {
    horizontal-align: center;
    vertical-align: center;
    margin: 20;
    width: 90%;
  }
}
