@import '../variables';
@import 'sign-up-base';

.sign-up-layout {
  @extend .SIGN_UP_LAYOUT_BASE;
  background-color: $black;

  .submit-btn {
    @extend .SUBMIT_BTN_BASE;

    color: $white;
    background-color: $permobil-sky;
  }
}
