@import '../variables';

.SIGN_UP_LAYOUT_BASE {
  height: 100%;
  width: 100%;
  padding: 10;
}

.DESCRIPTION_LABEL_BASE {
    font: $os;
    font-size: 15;
    width: 80%;
}

.SUBMIT_BTN_BASE {
  horizontal-align: center;
  vertical-align: center;
  margin: 20;
  width: 90%;
}
