@import '../variables';

.LOGIN_LAYOUT_BASE {
  height: 100%;
  width: 100%;
  padding: 10;

  .LOGIN_FORM_BASE {
    color: $white;
    border-radius: 4;
    vertical-align: center;
  }

  .SUBMIT_BTN_BASE {
    margin: 8 25 8 25;
  }

  .ERROR_LABEL_BASE {
    font-size: 13;
    margin: 2 8 2 14;
  }

  .FORGOT_PW_BTN_BASE {
    @extend .btn-transparent;

    margin: 12 20 12 20;
    horizontal-align: left;
  }

  .REGISTER_BTN_BASE {
    @extend .btn-transparent;

    margin: 12 20 12 20;
    horizontal-align: left;
  }
}
