@import '../variables';

.FULL_SCREEN_IMAGE_BASE {
  height: 100%;
  width: 100%;

  .login-layout {
    height: 100%;
    width: 100%;
    padding: 10;
  }

  .LOGIN_FORM_BASE {
    color: $white;
    border-radius: 4;
    vertical-align: center;

    image {
      margin: 5;
    }

    TextField {
      margin: 5;
    }
  }

  .SUBMIT_BTN_BASE {
    color: $white;
    margin: 8;
  }
}
