@import '../variables';
@import 'login-base';

.login-layout {
  @extend .LOGIN_LAYOUT_BASE;

  .login-form {
    @extend .LOGIN_FORM_BASE;
  }

  .submit-btn {
    @extend .SUBMIT_BTN_BASE;

    background-color: $permobil-cousteau;
    color: $white;
  }

  .textbox {
    @extend .TEXTBOX_BASE;

    .textbox-label {
      color: $grey;
      background-color: $black;
    }

    GridLayout {
      background-color: $black;
      border-color: #e8e9eb;

      > .textbox-value {
        color: $white;
      }
    }
  }

  .textbox-active {
    @extend .DATA_BOX_BASE;
    .textbox-label {
      color: $permobil-cousteau;
      background-color: $black;
    }

    GridLayout {
      border-color: $permobil-cousteau;
    }
  }

  .error-label {
    @extend .ERROR_LABEL_BASE;

    color: $error-red;
  }

  .forgot-pw-btn {
    @extend .FORGOT_PW_BTN_BASE;
    color: #3d4144;
  }

  .register-btn {
    @extend .REGISTER_BTN_BASE;
    color: #3d4144;
  }
}
