@import '../variables';
@import 'login-base';

.login-layout {
  @extend .LOGIN_LAYOUT_BASE;

  .login-form {
    @extend .LOGIN_FORM_BASE;
  }

  .submit-btn {
    @extend .SUBMIT_BTN_BASE;

    background-color: $permobil-sky;
    color: $white;
  }

  .forgot-pw-btn {
    @extend .FORGOT_PW_BTN_BASE;
    color: #3d4144;
  }

  .register-btn {
    @extend .REGISTER_BTN_BASE;
    color: #3d4144;
  }
}
