@import '../variables';
@import 'privacy-policy-base';

.privacy-policy-layout {
  @extend .PRIVACY_POLICY_LAYOUT_BASE;

  GridLayout,
  ScrollView {
    background-color: $black;
  }

  .title {
    @extend .TITLE_BASE;
    color: $white;
    width: 70%;
  }

  .section-title {
    @extend .SECTION_TITLE_BASE;
    color: $white;
  }

  .section-text {
    @extend .SECTION_TEXT_BASE;
    color: darken($white, 10%);
  }

  .privacy-btn {
    @extend .PRIVACY_BUTTON_BASE;
    color: $white;
  }

  .ok-btn {
    @extend .OK_BTN_BASE;
    background-color: $permobil-sky;
    color: $white;
  }

  .cancel-btn {
    @extend .CANCEL_BTN_BASE;
    color: #3d4144;
    text-transform: capitalize;
  }

  .setting-switch {
    @extend .SETTING_SWITCH_BASE;
    color: $permobil-sky;
    background: darken($white, 10%);
    off-background-color: $dark-grey;
  }

  .inactive-setting-switch {
    @extend .SETTING_SWITCH_BASE;
    color: $grey;
    background: $dark-grey;
    off-background-color: lighten($grey, 10%);
  }
}
