@import '../variables';
@import 'privacy-policy-base';

.privacy-policy-layout {
  @extend .APP_INFO_LAYOUT_BASE;
  background-color: $white;

  .title {
    @extend .TITLE_BASE;
    color: $black;
    width: 70%;
  }

  .section-title {
    @extend .SECTION_TITLE_BASE;
    color: $black;
  }

  .section-text {
    @extend .SECTION_TEXT_BASE;
    color: lighten($black, 10%);
  }

  .ok-btn {
    @extend .OK_BTN_BASE;
    background-color: #1c72e6;
    color: $white;
  }

  .cancel-btn {
    @extend .CANCEL_BTN_BASE;
    color: #3d4144;
    text-transform: capitalize;
  }

  .setting-switch {
    @extend .SETTING_SWITCH_BASE;
    color: $permobil-primary;
    background: $permobil-sky;
    off-background-color: $dark-grey;
  }

  .inactive-setting-switch {
    @extend .SETTING_SWITCH_BASE;
    color: $dark-grey;
    background: $dark-grey;
    off-background-color: $grey;
  }
}
