<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>PushTracker</string>
    <key>CFBundleIdentifier</key>
    <string>com.max-mobility.PushTracker</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>PushTracker</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.05</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>100011</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>PushTracker uses Bluetooth to communicate with your PushTracker E2, PushTracker, and SmartDrive.</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>PushTracker uses your camera to scan the barcodes of SmartDrives and PushTrackers.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>PushTracker uses background bluetooth modes when performing wireless updates of devices and your app has been suspended.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
      <string>bluetooth-central</string>
      <string>bluetooth-peripheral</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>pushtracker</string>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>permobil</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
