<!-- <GridLayout
  rows="auto, *"
  class="appInfoLayout"
  (loaded)="onShownModally($event)"
  visibility="collapsed"
  opacity="0"
  translateY="1000"
  width="100%"
  height="100%"
> -->

<GridLayout
  rows="auto, *"
  class="appInfoLayout"
  (loaded)="onShownModally($event)"
>
  // Mock ActionBar
  <GridLayout row="0" rows="*" columns="auto, *, auto">
    <Button
      #closeModalButton
      row="0"
      col="0"
      text="&#xf2d7;"
      class="btn-transparent ionicon"
      (tap)="closeModal($event)"
    ></Button>
    <Button
      #moreButton
      row="0"
      col="2"
      text="&#xf397;"
      class="btn-transparent ionicon"
    ></Button>
  </GridLayout>
  <ScrollView row="1" height="100%">
    <StackLayout>
      <Label
        class="title"
        [text]="'app-info-component.title' | translate"
        textWrap="true"
      ></Label>

      // text sections from the app-info-component translation sections
      <StackLayout *ngFor="let item of infoItems">
        <Label
          class="section-title"
          [text]="item.title"
          textWrap="true"
        ></Label>
        <Label class="section-text" [text]="item.text" textWrap="true"></Label>
        <!-- <LottieView
          height="120"
          [src]="item.lottie"
          loop="true"
          autoPlay="true"
          [visibility]="item.lottie ? 'visible' : 'collapsed'"
        ></LottieView> -->
      </StackLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
