@import '../variables';
@import 'profile-tab-base';

/* these have to be outside the component class to work */
.date-time-picker {
  @extend .DATE_TIME_PICKER_BASE;
}
.date-time-picker-spinners {
  color: #202125;
}
.date-time-picker-buttons {
  color: #1a73e9;
  @at-root .ns-dark & {
    color: $permobil-sky;
  }
}

.textfield {
  font-size: 22;
}

.textfield-prefix {
  font-size: 14;
  color: $permobil-primary;
  @at-root .ns-dark & {
    color: $permobil-sky;
  }
}

.textfield-suffix {
  font-size: 14;
  color: $permobil-primary;
  @at-root .ns-dark & {
    color: $permobil-sky;
  }
}

.profile-tab-layout {
  @extend .PROFILE_TAB_LAYOUT_BASE;
  @include colorize($background-color: background);

  .page-title {
    @extend .PAGE_TITLE_BASE;
    color: $black;
    @at-root .ns-dark & {
      color: $white;
    }
  }

  .profile-name {
    @extend .PROFILE_NAME_BASE;
  }

  .profile-email {
    @extend .PROFILE_EMAIL_BASE;
  }

  .privacy-btn {
    @extend .PRIVACY_BUTTON_BASE;
  }

  .section-label {
    @extend .SECTION_LABEL_BASE;
  }

  .avatar-circle {
    @extend .AVATAR_CIRCLE_BASE;
    background-color: $permobil-primary;
    @at-root .ns-dark & {
      background-color: $permobil-sky;
    }
  }
}

.data-box-value {
  @at-root .ns-dark & {
    color: $permobil-sky;
  }
}
.device-setup-btn {
  @extend .DEVICE_SETUP_BUTTON;
}
