@import '../variables';
@import 'profile-tab-base';

.profile-tab-layout {
  @extend .PROFILE_TAB_LAYOUT_BASE;
  background-color: $black;

  .settings-btn {
    @extend .MOCK_ACTION_BAR_BUTTON_BASE;
    color: $white;
  }
  .help-btn {
    @extend .MOCK_ACTION_BAR_BUTTON_BASE;
    color: $white;
  }

  .page-title {
    @extend .PAGE_TITLE_BASE;
    color: $white;
  }

  .profile-name {
    @extend .PROFILE_NAME_BASE;
    color: $white;
  }

  .profile-email {
    @extend .PROFILE_EMAIL_BASE;
    color: $white;
  }

  .section-label {
    @extend .SECTION_LABEL_BASE;
    color: $white;
  }

  .avatar-circle {
    @extend .AVATAR_CIRCLE_BASE;
    background-color: $permobil-cousteau;

    label {
      color: $black;
    }
  }

  .data-box {
    @extend .DATA_BOX_BASE;

    .data-box-label {
      color: $grey;
      background-color: $black;
    }

    GridLayout {
      border-color: #e8e9eb;

      > .data-box-value {
        color: $white;
      }

      > .data-box-arrow {
        color: $grey;
      }
    }
  }

  .data-box-active {
    @extend .DATA_BOX_BASE;
    .data-box-label {
      color: $permobil-cousteau;
      background-color: $black;
    }

    GridLayout {
      border-color: $permobil-cousteau;
    }
  }

  .activity-goals-dialog {
    @extend .ACTIVITY_GOALS_DIALOG_BASE;
    background-color: $black;

    .close-btn {
      @extend .MOCK_ACTION_BAR_BUTTON_BASE;
      color: $white;
    }

    .set-goal-btn {
      color: $permobil-hero;
    }

    .config-title {
      color: $white;
    }
    .config-value-description {
      color: $white;
    }

    .config-circle {
      @extend .CONFIG_CIRCLE_BASE;
      border-color: $dark-grey;

      button {
        color: $permobil-primary;
      }

      .config-value {
        color: $white;
      }
      .config-value-sub {
        color: $dark-grey;
      }
    }
  }

  .list-picker-dialog {
    @extend .LIST_PICKER_DIALOG_BASE;
    background-color: $white;

    > StackLayout {
      background-color: $white;

      .picker-title {
        color: $white;
      }

      .picker-description {
        color: lighten($color: $white, $amount: 0.2);
      }

      .cancel-button {
        color: $permobil-primary;
      }

      .ok-button {
        color: $permobil-primary;
      }
    }
  }
}
