@import '../variables';
@import 'profile-tab-base';

/* these have to be outside the component class to work */
.date-time-picker {
  @extend .DATE_TIME_PICKER_BASE;
  background-color: $white;
  color: $black;
}
.date-time-picker-spinners {
  background-color: $white;
  color: #202125;
}
.date-time-picker-buttons {
  background-color: $white;
  color: #1a73e9;
}

.textfield {
  font-size: 18;
}

.textfield-prefix {
  font-size: 14;
  color: $permobil-primary;
}

.textfield-suffix {
  font-size: 14;
  color: $permobil-primary;
}

.profile-tab-layout {
  @extend .PROFILE_TAB_LAYOUT_BASE;
  background-color: $white;

  .page-title {
    @extend .PAGE_TITLE_BASE;
    color: #1f2024;
  }

  .profile-name {
    @extend .PROFILE_NAME_BASE;
    color: #3c4043;
  }

  .profile-email {
    @extend .PROFILE_EMAIL_BASE;
    color: #5f6267;
  }

  .privacy-btn {
    @extend .PRIVACY_BUTTON_BASE;
    color: #3c4043;
  }

  .section-label {
    @extend .SECTION_LABEL_BASE;
    color: #3c4043;
  }

  .avatar-circle {
    @extend .AVATAR_CIRCLE_BASE;
    background-color: $permobil-primary;

    label {
      color: $white;
    }
  }
}
