@import '../variables';
@import '../global';

.PROFILE_TAB_LAYOUT_BASE {
  height: 100%;
  width: 100%;

  .PAGE_TITLE_BASE {
    font-size: 36;
    font-family: $os;
    padding-left: 10;
    margin-left: 5;
  }

  .PROFILE_NAME_BASE {
    font-family: $os;
    font-weight: bold;
    text-align: left;
    horizontal-align: left;
    vertical-align: bottom;
  }

  .PROFILE_EMAIL_BASE {
    font-family: $os;
    text-align: left;
    horizontal-align: left;
    vertical-align: top;
  }

  .SECTION_LABEL_BASE {
    font-family: $os;
    font-size: 14;
    font-weight: bold;
    text-align: left;
    horizontal-align: left;
    vertical-align: center;
    margin: 10 15;
  }

  .AVATAR_CIRCLE_BASE {
    margin: 10 20;
    height: 60;
    width: 60;
    border-radius: 30;
    text-align: center;

    label {
      font-size: 36;
      horizontal-align: center;
      vertical-align: center;
    }

    image {
      height: 60;
      width: 60;
      border-radius: 30;
      horizontal-align: center;
      vertical-align: center;
    }
  }

  .PRIVACY_BUTTON_BASE {
    @extend .btn-transparent;
    padding: 4;
    margin: 2;
    font-family: $material-icon;
    font-size: 30;
    vertical-align: center;
    height: 44;
    width: 44;
    border-radius: 22;
  }

  .DATE_TIME_PICKER_BASE {
    height: 100%;
  }

  .LIST_PICKER_DIALOG_BASE {
    height: 100%;

    > StackLayout {
      margin: 24;
      border-radius: 2;

      .picker-title {
        font-family: $os;
        font-size: 18;
        font-weight: bold;
        horizontal-align: left;
        vertical-align: center;
        margin: 12;
      }

      .picker-description {
        font-family: $os;
        font-size: 10;
        margin-left: 12;
      }

      .cancel-btn {
        @extend .btn-transparent;
        horizontal-align: right;
        text-align: right;
        margin: 6 4 4 4;
      }

      .ok-btn {
        @extend .btn-transparent;
        horizontal-align: right;
        margin: 6 6 4 0;
      }
    }
  }
}
