@import '../variables';
@import 'profile-tab-base';

/* these have to be outside the component class to work */
.date-time-picker {
  @extend .DATE_TIME_PICKER_BASE;
  background-color: $dark-custom-dialog-layout-black;
  color: $white;
}
.date-time-picker-spinners {
  background-color: $dark-custom-dialog-layout-black;
  color: $white;
}
.date-time-picker-buttons {
  color: $permobil-sky;
}

.textfield {
  color: $white;
  font-size: 34;
}

.textfield-prefix {
  font-size: 18;
  color: $white;
}

.textfield-suffix {
  color: $permobil-sky;
  font-size: 18;
}

.profile-tab-layout {
  @extend .PROFILE_TAB_LAYOUT_BASE;
  background-color: $black;

  .page-title {
    @extend .PAGE_TITLE_BASE;
    color: $white;
  }

  .profile-name {
    @extend .PROFILE_NAME_BASE;
    color: $white;
  }

  .profile-email {
    @extend .PROFILE_EMAIL_BASE;
    color: $white;
  }

  .privacy-btn {
    @extend .PRIVACY_BUTTON_BASE;
    color: $white;
  }

  .section-label {
    @extend .SECTION_LABEL_BASE;
    color: #e7e8ec;
  }

  .avatar-circle {
    @extend .AVATAR_CIRCLE_BASE;
    background-color: $permobil-sky;

    label {
      color: $black;
    }
  }
}

// Highlighted setting class unreadable
// https://github.com/Max-Mobility/permobil-client/issues/324
// In dark mode on the profile tab, when the user clicks on a setting,
// the highlighted class is applied, but in dark mode the highlighted text
// becomes black, which is unreadable.
.data-box-value {
  color: $permobil-sky;
}
