@import '../variables';
@import 'profile-tab-base';

/* these have to be outside the component class to work */
.date-time-picker {
  @extend .DATE_TIME_PICKER_BASE;
  background-color: $dark-grey;
  color: $white;
}
.date-time-picker-spinners {
  background-color: $dark-grey;
  color: $white;
}
.date-time-picker-buttons {
  color: $permobil-cousteau;
}

.profile-tab-layout {
  @extend .PROFILE_TAB_LAYOUT_BASE;
  background-color: $black;

  .page-title {
    @extend .PAGE_TITLE_BASE;
    color: $white;
  }

  .profile-name {
    @extend .PROFILE_NAME_BASE;
    color: $white;
  }

  .profile-email {
    @extend .PROFILE_EMAIL_BASE;
    color: $white;
  }

  .section-label {
    @extend .SECTION_LABEL_BASE;
    color: #e7e8ec;
  }

  .avatar-circle {
    @extend .AVATAR_CIRCLE_BASE;
    background-color: $permobil-cousteau;

    label {
      color: $black;
    }
  }

  .activity-goals-dialog {
    @extend .ACTIVITY_GOALS_DIALOG_BASE;
    background-color: $black;

    GridLayout {
      color: $white;
    }

    .close-btn {
      @extend .btn-transparent;
      color: $white;
    }

    .set-goal-btn {
      color: $permobil-hero;
    }

    .config-title {
      color: $white;
    }
    .config-title-description {
      color: $white;
    }

    .config-circle {
      @extend .CONFIG_CIRCLE_BASE;
      border-color: lighten($color: $white, $amount: 0.2);

      button {
        color: $permobil-primary;
      }

      .config-value {
        color: $white;
      }
      .config-value-sub {
        color: $black;
      }
    }
  }

  .list-picker-dialog {
    @extend .LIST_PICKER_DIALOG_BASE;
    background-color: $black;

    GridLayout,
    StackLayout {
      background-color: $dark-grey;
    }

    > StackLayout {
      background-color: $dark-grey;
      color: $white;

      .picker-title {
        color: $white;
      }

      .picker-description {
        color: lighten($color: $white, $amount: 0.2);
      }

      ListPicker {
        color: $white;
      }

      .cancel-btn {
        color: $permobil-cousteau;
      }

      .ok-btn {
        color: $permobil-cousteau;
      }
    }
  }
}
