@import '../variables';
@import 'profile-tab-base';

.profile-tab-layout {
  @extend .PROFILE_TAB_LAYOUT_BASE;
  background-color: $white;

  .settings-btn {
    @extend .MOCK_ACTION_BAR_BUTTON_BASE;
    color: $black;
  }
  .help-btn {
    @extend .MOCK_ACTION_BAR_BUTTON_BASE;
    color: $black;
  }

  .page-title {
    @extend .PAGE_TITLE_BASE;
    color: $black;
  }

  .profile-name {
    @extend .PROFILE_NAME_BASE;
    color: $black;
  }

  .profile-email {
    @extend .PROFILE_EMAIL_BASE;
    color: $black;
  }

  .section-label {
    @extend .SECTION_LABEL_BASE;
    color: $black;
  }

  .avatar-circle {
    @extend .AVATAR_CIRCLE_BASE;
    background-color: $black;

    label {
      color: $white;
    }
  }

  .data-box {
    @extend .DATA_BOX_BASE;
    label {
      color: #767a7e;
    }
    StackLayout {
      border-color: #dadce0;

      label {
        color: $black;
      }
    }
  }

  .activity-goals-dialog {
    @extend .ACTIVITY_GOALS_DIALOG_BASE;
    background-color: $white;

    .close-btn {
      @extend .MOCK_ACTION_BAR_BUTTON_BASE;
      color: $black;
    }

    .set-goal-btn {
      color: $permobil-primary;
    }

    .config-title {
      color: $black;
    }
    .config-value-description {
      color: $black;
    }

    .config-circle {
      @extend .CONFIG_CIRCLE_BASE;
      border-color: lighten($grey, 0.2);

      button {
        color: $permobil-primary;
      }

      .config-value {
        color: $black;
      }
      .config-value-sub {
        color: $grey;
      }
    }
  }
}
