@import '../variables';
@import 'profile-settings-base';

.profile-settings-layout {
  @extend .PROFILE_SETTINGS_LAYOUT_BASE;
  background-color: $white;

  .back-btn {
    @extend .BACK_BTN_BASE;
    color: $black;
  }

  .action-bar-title {
    @extend .ACTION_BAR_TITLE_BASE;
    color: $black;
  }

  .category {
    @extend .CATEGORY_BASE;
    color: $permobil-primary;
  }

  .setting-title {
    @extend .SETTING_TITLE_BASE;
    color: $black;
  }

  .setting-value {
    @extend .SETTING_VALUE_BASE;
    color: $black;
  }

  .slider-dialog {
    @extend .SLIDER_DIALOG_BASE;
    background-color: rgba(85, 86, 88, 0.808);

    > StackLayout {
      background-color: $white;

      .setting-title {
        color: #202125;
      }

      .setting-description {
        color: #393a3f;
      }

      .slider-value {
        color: #202125;
      }

      .cancel-btn {
        color: #1a73e9;
      }

      .ok-btn {
        color: #1a73e9;
      }
    }
  }
}
