@import '../variables';
@import 'profile-settings-base';

.profile-settings-layout {
  @extend .PROFILE_SETTINGS_LAYOUT_BASE;
  background-color: $black;

  .back-btn {
    @extend .BACK_BTN_BASE;
    color: $white;
  }

  .action-bar-title {
    @extend .ACTION_BAR_TITLE_BASE;
    color: $white;
  }

  .category {
    @extend .CATEGORY_BASE;
    color: $permobil-cousteau;
  }

  .setting-title {
    @extend .SETTING_TITLE_BASE;
    color: $white;
  }

  .setting-value {
    @extend .SETTING_VALUE_BASE;
    color: darken($white, 10%);
  }

  .slider-dialog {
    @extend .SLIDER_DIALOG_BASE;
    background-color: $black;

    > StackLayout {
      background-color: $dark-grey;

      .setting-title {
        color: $white;
      }

      .setting-description {
        color: lighten($color: $white, $amount: 0.2);
      }

      .slider-value {
          color: $white;
      }

      .cancel-btn {
        color: $permobil-cousteau;
      }

      .ok-btn {
        color: $permobil-cousteau;
      }
    }
  }
}
