@import '../variables';
@import 'profile-settings-base';

.profile-settings-layout {
  @extend .PROFILE_SETTINGS_LAYOUT_BASE;
  background-color: $black;

  .close-btn {
    @extend .CLOSE_BTN_BASE;
    color: $white;
  }

  .more-btn {
    @extend .MORE_BTN_BASE;
    color: $white;
  }

  .title {
    @extend .TITLE_BASE;
    color: $white;
  }

  .section-title {
    @extend .SECTION_TITLE_BASE;
    color: $white;
  }

  .section-text {
    @extend .SECTION_TEXT_BASE;
    color: darken($white, 10%);
  }

  .close-dialog {
    @extend .CLOSE_DIALOG_BASE;
    color: darken($white, 10%);
  }
}
