@import '../variables';
@import 'profile-settings-base';

.profile-settings-layout-default {
  @extend .PROFILE_SETTINGS_LAYOUT_BASE;
   MockActionBar,
  ScrollView {
    @include colorize($background-color: background);
  }

  .category {
    @extend .CATEGORY_BASE;
    color: $permobil-primary;
    @at-root .ns-dark & {
      color: $permobil-sky;
    }
  }

  .version-info {
    @extend .category;
    color: $permobil-primary;
    @at-root .ns-dark & {
      color: $permobil-success;
    }
  }

  .setting-layout {
    @extend .SETTING_LAYOUT_BASE;
  }

  .setting-title {
    @extend .SETTING_TITLE_BASE;
    color: $black;
    @at-root .ns-dark &  {
      color: $white;
    }
  }

  .setting-value {
    @extend .SETTING_VALUE_BASE;
    color: $black;
    @at-root .ns-dark & {
      color: darken($white, 10%);
    }
  }

  .setting-switch {
    @extend .SETTING_SWITCH_BASE;
    color: $permobil-primary;
    @at-root .ns-dark & {
      color: $permobil-sky;
    }
    background: $permobil-sky;
    @at-root .ns-dark & {
      background: darken($white, 10%);
    }
    off-background-color: $dark-grey;
    @at-root .ns-dark & {
      off-background-color: $dark-grey;
    }
  }

  .inactive-setting-switch {
    @extend .SETTING_SWITCH_BASE;
    color: $dark-grey;
    @at-root .ns-dark & {
      color: $grey;
    }
    background: $dark-grey;
    off-background-color: $grey;
    @at-root .ns-dark & {
      off-background-color: lighten($grey, 10%);
    }
  }

  .sync-button {
    font-weight: bold;
    margin: 2 4 2 4;
    padding: 4;
    border-radius: 3;
    background-color: #00a73c;
  }

  .sync-status {
    font-size: 16;
    color: $dark-grey;
    @at-root .ns-dark & {
      color: $light-grey;
    }
  }
}
