@import '../variables';
@import '../global';


.PROFILE_SETTINGS_LAYOUT_BASE {
  height: 100%;
  width: 100%;

  .CLOSE_BTN_BASE {
    @extend .btn-transparent;
    padding: 4;
    font-size: 30;
    font-family: $material-icon;
    horizontal-align: left;
  }

  .TITLE_BASE {
    font-size: 26;
    font-family: $os;
    margin-left: 5;
    padding: 4;
  }
  
  .CATEGORY_BASE {
    font-size: 14;
    font-family: $os;
    font-weight: bold;
    margin: 20 0 20 5;
    padding-left : 20;
  }

  .SECTION_TITLE_BASE {
    font-size: 18;
    font-family: $os;
    font-weight: bold;
    margin: 5 5 0 5;
    padding-left: 20;
  }

  .SECTION_TEXT_BASE {
    font-size: 14;
    font-family: $os-Light;
    margin: 0 5 5 5;
    padding-left: 20;
  }

  .more-icon {
    font-family: $material-icon;
    font-size: 24;
    horizontal-align: right;
    vertical-align: center;
  }
  .CLOSE_DIALOG_BASE {
    @extend .btn-transparent;
    padding: 4;
    font-size: 12;
    font-family: $material-icon;
    horizontal-align: left;
  }
}
