@import '../variables';
@import 'profile-settings-base';

.profile-settings-layout {
  @extend .PROFILE_SETTINGS_LAYOUT_BASE;
  background-color: $black;

  .category {
    @extend .CATEGORY_BASE;
    color: $permobil-cousteau;
  }

  .setting-layout {
    @extend .SETTING_LAYOUT_BASE;
  }

  .setting-title {
    @extend .SETTING_TITLE_BASE;
    color: $white;
  }

  .setting-value {
    @extend .SETTING_VALUE_BASE;
    color: darken($white, 10%);
  }
  
  .setting-switch {
    @extend .SETTING_SWITCH_BASE;
    color: $white;
    background: darken($white, 10%);
  }

  .custom-template-dialog {
    @extend .CUSTOM_TEMPLATE_DIALOG_BASE;
    
    background-color: $black;

    > StackLayout {
      background-color: $dark-grey;

      .title {
        color: $white;
      }

      .description {
        color: lighten($color: $white, $amount: 0.2);
      }

      .listpicker {
        color: $white;
      }

      .slider-value {
        color: $white;
      }

      .cancel-btn {
        color: $permobil-cousteau;
      }

      .ok-btn {
        color: $permobil-cousteau;
      }
    }
  }
}
