<GridLayout rows="auto, auto, auto, *, auto" class="support-layout">
  // Mock ActionBar
  <MockActionBar row="0" [title]="'support-component.title' | translate" [showBackNav]="true" (navTapEvent)="onNavBtnTap()"></MockActionBar>

  <SearchBar row="1" [hint]="'support-component.search-hint' | translate"
             [text]="searchPhrase" (textChange)="onTextChanged($event)"
             (clear)="onClear($event)" (submit)="onSubmit($event)">
  </SearchBar>

  <Label row="2" text="" class="hr" textWrap="true"></Label>

  <StackLayout row="3">
    <ListView [items]="supportItems" (itemLoading)="onItemLoading($event)" class="faq-list">
      <ng-template let-item="item">
        <GridLayout rows="auto, auto" columns="auto, *" padding="8">
          <Label rowSpan="2" col="0" text="&#xe8af;" class="item-icon"></Label>
          <label row="0" col="1" [text]="item.q" textWrap="true" class="faq-question"></label>
          <label row="1" col="1" [text]="item.a" textWrap="true" class="faq-answer"></label>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>
</GridLayout>
