<GridLayout rows="auto, *" class="wireless-updates-layout">
  // Mock ActionBar
  <MockActionBar row="0" [title]="'wireless-updates.title' | translate" 
                 [showBackNav]="(pushTracker ? pushTracker.canBackNavigate : true) && (smartDrive ? smartDrive.canBackNavigate : true)"
                 [showMoreBtn]="true" (moreTapEvent)="onMoreBtnTap()" (navTapEvent)="closeModal()"></MockActionBar>

  <ScrollView row="1" height="100%" width="100%">
    <GridLayout rows="*, auto, *" columns="*">
      // PushTracker
      <StackLayout marginTop="30" class="update-stack-layout"
                   horizontalAlignment="center" verticalAlignment="center"
                   *ngIf="controlConfiguration === CONFIGURATIONS.PUSHTRACKER_WITH_SMARTDRIVE">
        <Label class="update-label" row="0" text="PushTracker"></Label>
        <ActivityIndicator row="0" marginTop="50" horizontalAlignment="center" height="20%" width="20%" marginRight="10"
                           *ngIf="!pushTrackerCheckedForUpdates" busy="true" [color]="savedTheme === APP_THEMES.DEFAULT ? '#0067a6' : '#89d4e3'"></ActivityIndicator>
        <GridLayout rows="*" columns="*" *ngIf="pushTrackerCheckedForUpdates"
                    horizontalAlignment="center" verticalAlignment="center">
          <AnimatedCircle [class]="pushTrackerOtaProgress < 100 ? 'update-circle' : 'update-circle-green'"
                          row="0"
                          [width]="screenWidth * 0.7" [height]="screenWidth * 0.7"
                          animated="true" animateFrom="0"
                          clockwise="true" rimWidth="10" barWidth="28"
                          [progress]="pushTrackerOtaProgress">
          </AnimatedCircle>
          <GridLayout width="100%" height="100%" row="0" rows="*, *, *" columns="*"
                      horizontalAlignment="center" verticalAlignment="center">
            <Button *ngIf="noPushTrackerDetected" row="0" class="action-retry"
                    [text]="'ota.action.retry' | translate" (tap)="onRescanForPushTrackers($event)">
            </Button>
            <Button *ngFor="let action of pushTrackerOtaActions; let i = index" [row]="i === 0 ? 0 : 2" [class]="action.class"
                    [text]="action.label" (tap)="action.func(action)">
            </Button>
            <Label row="1" width="50%" textWrap="true" class="update-status-label"
                   [text]="pushTrackerOtaState"></Label>
          </GridLayout>
        </GridLayout>
      </StackLayout>

      <StackLayout row="1" marginTop="30" class="hr-light" *ngIf="controlConfiguration !== CONFIGURATIONS.SWITCHCONTROL_WITH_SMARTDRIVE"></StackLayout>

      // SmartDrive
      <StackLayout row="2" marginTop="30" class="update-stack-layout"
                   horizontalAlignment="center" verticalAlignment="center">
        <Label class="update-label" row="0" text="SmartDrive"></Label>
        <ActivityIndicator row="0" marginTop="50" horizontalAlignment="center" height="20%" width="20%" marginRight="10"
                           *ngIf="!smartDriveCheckedForUpdates" busy="true" [color]="savedTheme === APP_THEMES.DEFAULT ? '#0067a6' : '#89d4e3'"></ActivityIndicator>
        <GridLayout rows="*" columns="*" *ngIf="smartDriveCheckedForUpdates"
                    horizontalAlignment="center" verticalAlignment="center">
          <AnimatedCircle [class]="smartDriveOtaProgress < 100 ? 'update-circle' : 'update-circle-green'"
                          [width]="screenWidth * 0.7" [height]="screenWidth * 0.7"
                          animated="true" animateFrom="0"
                          clockwise="true" rimWidth="10" barWidth="28"
                          [progress]="smartDriveOtaProgress">
          </AnimatedCircle>
          <GridLayout width="100%" height="100%" rows="*, *, *" columns="*"
                      horizontalAlignment="center" verticalAlignment="center">
            <Button *ngIf="noSmartDriveDetected" row="0" class="action-retry"
                    [text]="'ota.action.retry' | translate" (tap)="onRescanForSmartDrives($event)">
            </Button>
            <Button *ngFor="let action of smartDriveOtaActions; let i = index" [row]="i === 0 ? 0 : 2" [class]="action.class"
                    [text]="action.label" (tap)="action.func(action)">
            </Button>
            <Label row="1" width="50%" textWrap="true" class="update-status-label"
                   [text]="smartDriveOtaState"></Label>
          </GridLayout>
        </GridLayout>
      </StackLayout>
    </GridLayout>
  </ScrollView>
</GridLayout>
