<GridLayout rows="auto, *" class="wireless-updates-layout">
  // Mock ActionBar
  <MockActionBar row="0" [title]="'general.wireless-updates-component.title' | translate" [showBackNav]="true" 
   [showMoreBtn]="true" (moreBtnTapEvent)="onMoreBtnTap()" (navTapEvent)="closeModal()"></MockActionBar>

  <FlexboxLayout row="1" height="100%" width="80%" flexDirection="column">
    // PushTracker
    <StackLayout marginTop="30" class="update-stack-layout" *ngIf="controlConfiguration !== 'Switch Control with SmartDrive'">
      <Label class="update-label" text="PushTracker"></Label>
      <GridLayout rows="auto, auto, auto, auto, auto" columns="auto, *, auto">
        <AnimatedCircle class="update-circle" row="1" rowSpan="4" col="1" width="90%" height="90%" animated="true" animateFrom="0" clockwise="true" rimWidth="10" barWidth="28" [progress]="ptCirclePercentage"> </AnimatedCircle>
      </GridLayout>
    </StackLayout>

    <StackLayout class="hr-light"></StackLayout>

    // SmartDrive
    <StackLayout marginTop="30" class="update-stack-layout">
      <Label class="update-label" row="0" text="SmartDrive"></Label>
      <ActivityIndicator row="0" marginTop="50" horizontalAlignment="center" height="30%" width="30%" 
        marginRight="10" *ngIf="!smartDriveCheckedForUpdates" busy="true"></ActivityIndicator>
      <GridLayout rows="auto, auto, auto, auto, auto" columns="auto, *, auto" *ngIf="smartDriveCheckedForUpdates">
        <AnimatedCircle class="update-circle-green" row="1" rowSpan="4" col="1" width="90%" height="90%" 
          animated="true" animateFrom="0" clockwise="true" rimWidth="10" barWidth="28" 
          [progress]="smartDriveOtaProgress"> </AnimatedCircle>
        <Button *ngFor="let action of smartDriveOtaActions; let i = index"
          [row]="i + 2" col="1" 
          [marginTop]="i % 2 === 0 ? -30 : 30"
          class="update-button" [text]="action.label" (tap)="action.func(action)">
        </Button>
        <Label row="3" marginTop="-10" col="1" width="50%" textWrap="true" 
          *ngIf="!smartDriveUpToDate" class="update-status-label" [text]="smartDriveOtaState"></Label>
        <Label row="3" marginTop="-20" col="1" width="50%" textWrap="true" 
          *ngIf="smartDriveUpToDate" class="update-status-label" text="Your SmartDrive is up to date"></Label>
      </GridLayout>
    </StackLayout>
  </FlexboxLayout>
</GridLayout>
