<ActivityIndicator busy="true" *ngIf="!user"></ActivityIndicator>

<BottomNavigation (loaded)="onRootBottomNavLoaded($event)" (selectedIndexChanged)="tabViewIndexChangeWithoutJourney($event)" selectedIndex="0" *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_WITH_SMARTDRIVE">
  <TabStrip>
    // Home
    <TabStripItem class="tabstripitem">
      <Label [text]="'home-tab.title' | translate"></Label>
      <Image src="font://&#xe88a;"></Image>
    </TabStripItem>

    // Profile
    <TabStripItem class="tabstripitem">
      <Label [text]="'profile-tab.title' | translate"></Label>
      <Image src="font://&#xe7ff;"></Image>
    </TabStripItem>
  </TabStrip>

  // Home
  <TabContentItem>
    <StackLayout>
      <home-tab></home-tab>
    </StackLayout>
  </TabContentItem>
  // Profile
  <TabContentItem>
    <StackLayout>
      <profile-tab></profile-tab>
    </StackLayout>
  </TabContentItem>
</BottomNavigation>

<BottomNavigation (loaded)="onRootBottomNavLoaded($event)" (selectedIndexChanged)="tabViewIndexChange($event)" selectedIndex="1" *ngIf="user?.data.control_configuration === CONFIGURATIONS.PUSHTRACKER_E2_WITH_SMARTDRIVE">
  <TabStrip>
    // Journey
    <TabStripItem class="tabstripitem">
      <Label [text]="'journey-tab.title' | translate"></Label>
      <Image src="font://&#xe55b;"></Image>
    </TabStripItem>

    // Home
    <TabStripItem class="tabstripitem">
      <Label [text]="'home-tab.title' | translate"></Label>
      <Image src="font://&#xe88a;"></Image>
    </TabStripItem>

    // Profile
    <TabStripItem class="tabstripitem">
      <Label [text]="'profile-tab.title' | translate"></Label>
      <Image src="font://&#xe7ff;"></Image>
    </TabStripItem>
  </TabStrip>

  // Journey
  <TabContentItem>
    <StackLayout>
      <journey-tab></journey-tab>
    </StackLayout>
  </TabContentItem>
  // Home
  <TabContentItem>
    <StackLayout>
      <home-tab></home-tab>
    </StackLayout>
  </TabContentItem>
  // Profile
  <TabContentItem>
    <StackLayout>
      <profile-tab></profile-tab>
    </StackLayout>
  </TabContentItem>
</BottomNavigation>

<profile-tab *ngIf="user?.data.control_configuration === CONFIGURATIONS.SWITCHCONTROL_WITH_SMARTDRIVE"></profile-tab>
