@import '../../variables';
@import 'bottom-sheets-base';

.bottom-sheet-layout {
  @extend .BOTTOM_SHEET_LAYOUT_BASE;
  @include colorize($background-color: background);
  .title {
    color: #202125;
    @at-root .ns-dark & {
      color: $white;
    }
  }

  .description {
    color: #393a3f;
    @at-root .ns-dark & {
      color: darken($color: $white, $amount: 0.2);
    }
  }

  .listpicker {
    color: $permobil-primary;
  }

  .slider-value {
    color: #202125;
  }

  .cancel-btn {
    color: $permobil-primary;
  }

  .ok-btn {
    color: $permobil-primary;
  }
}
