@import '../../variables';

.BOTTOM_SHEET_LAYOUT_BASE {
  padding: 8;

  .title {
    font-family: $os;
    font-size: 18;
    font-weight: bold;
    horizontal-align: left;
    text-wrap: true;
  }

  .description {
    font-family: $os;
    font-size: 12;
    text-wrap: true;
  }

  .slider-value {
    horizontal-align: right;
    margin: 0 5 0 5;
    font-size: 20;
  }

  .cancel-btn {
    @extend .btn-transparent;
    horizontal-align: right;
    text-transform: capitalize;
    text-align: center;
    border-radius: 3;
  }

  .ok-btn {
    @extend .btn-transparent;
    horizontal-align: right;
    text-align: center;
    border-radius: 3;
  }

  background-color: #ffffff;
  .ns-dark  & {
   background-color: #202125;
 }

 .title {
   color: #202125;
    .ns-dark & {
     color: $white;
   }
 }

 .description {
   color: #393a3f;
    .ns-dark  {
     color: darken($color: $white, $amount: 0.2);
   }
 }

 .listpicker {
   color: $permobil-primary;
    .ns-dark  {
     color: $white;
   }
 }

 .slider-value {
   color: #202125;
    .ns-dark  {
     color: $white;
   }
 }

 .cancel-btn {
   color: $permobil-primary;
    .ns-dark  {
     color: $permobil-sky;
   }
 }

 .ok-btn {
   color: $permobil-primary;
    .ns-dark {
     color: $permobil-sky;
   }
 }
}
