@import '../../variables';

.BOTTOM_SHEET_LAYOUT_BASE {
  padding: 6;

  .title {
    font-family: $os;
    font-size: 18;
    font-weight: bold;
    horizontal-align: left;
    text-wrap: true;
  }

  .description {
    font-family: $os;
    font-size: 12;
    text-wrap: true;
  }

  .slider-value {
    horizontal-align: right;
    margin: 0 5 0 5;
    font-size: 20;
  }

  .cancel-btn {
    @extend .btn-transparent;
    horizontal-align: right;
    text-transform: capitalize;
    text-align: center;
    border-radius: 3;
  }

  .ok-btn {
    @extend .btn-transparent;
    horizontal-align: right;
    text-align: center;
    border-radius: 3;
  }
}
