@import '../../variables';
@import 'bottom-sheets-base';

.bottom-sheet-layout {
  @extend .BOTTOM_SHEET_LAYOUT_BASE;

  background-color: $black;

  .title {
    color: $white;
  }

  .description {
    color: darken($color: $white, $amount: 0.2);
  }

  .listpicker {
    color: $white;
  }

  .slider-value {
    color: $white;
  }

  .cancel-btn {
    color: $permobil-sky;
  }

  .ok-btn {
    color: $permobil-sky;
  }
}
