<GridLayout rows="auto, *" columns="*" class="profile-settings-layout-default">
  // Mock ActionBar
  <MockActionBar
    row="0"
    #mockActionBar
    [title]="'general.forgot-password' | translate"
    [showBackNav]="true"
    (navTapEvent)="goBack()"
    >
  </MockActionBar>

  <ScrollView row="1" height="100%"class="sign-up-layout">
    <GridLayout rows="*, *, *, *" columns="*">
      <Label row="0" class="description-label" [text]="'general.reset-pass-desc' | translate" textWrap="true"></Label>
      // Email
      <MaxTextBox
        row="1"
        [(text)]="userEmail"
        [error]="emailError"
        [label]="'general.email' | translate"
        (textfieldLoadedEvent)="onEmailTextFieldLoaded($event)"
        (textChange)="onEmailTextChange($event)"
        keyboardType="email"
        autocorrect="false"
        autocapitalizationType="none"
        ></MaxTextBox>

      <Button row="2" [text]="'general.submit' | translate" (tap)="onSubmitTap()" class="submit-btn"></Button>
    </GridLayout>
  </ScrollView>
</GridLayout>
