<ActionBar [title]="'general.forgot-password' | translate" flat="true" class="action-bar">
  <NavigationButton text="Back" android:[icon]="androidBackIcon" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ScrollView class="sign-up-layout">
  <GridLayout rows="*, *, *, *, *, *, *, * , *, *, *" columns="*">
    <Label row="0" class="m-20" [text]="'general.reset-pass-desc' | translate" textWrap="true"></Label>
    // Email
    <MaxTextBox row="1" [(text)]="userEmail" [error]="emailError" [label]="'general.email' | translate" (textChange)="onEmailTextChange($event)" keyboardType="email" autocorrect="false" autocapitalizationType="none"></MaxTextBox>

    <Button row="3" [text]="'general.submit' | translate" (tap)="onSubmitTap()" class="submit-btn"></Button>
  </GridLayout>
</ScrollView>
