@import '../../variables';
@import 'max-text-box-base';

// TextBox

.max-textbox {
    @extend .MAX_TEXTBOX_BASE;
    background-color: $black;

  .max-textbox-label {
    color: #898e94;
    background-color: $black;
  }

  GridLayout {
    background-color: $black;
    border-color: #4c4f54;

    > .max-textbox-value {
      color: $white;
    }
  }
}

.max-textbox-active {
  @extend .MAX_TEXTBOX_BASE;
    background-color: $black;

  .max-textbox-label {
    color: $permobil-sky;
    background-color: $black;
  }

  GridLayout {
    border-color: $permobil-sky;
    background-color: $black;

    > .max-textbox-value {
      color: $white;
      background-color: $black;
    }
  }
}

.max-textbox-error-label {
  @extend .ERROR_LABEL_BASE;
  color: $error-red;
}
