@import '../../variables';
@import 'max-text-box-base';

// TextBox
.max-textbox {
  @extend .MAX_TEXTBOX_BASE;

  .max-textbox-label {
    color: #696c71;
    background-color: $white;
  }

  GridLayout {
    border-color: #e7e7ea;

    > .max-textbox-value {
      color: #3c4043;
    }
  }
}

.max-textbox-active {
  @extend .MAX_TEXTBOX_BASE;
  .max-textbox-label {
    color: #1c72e6;
    background-color: $white;
  }

  GridLayout {
    border-color: #1c72e6;

    > .max-textbox-value {
      color: #3c4043;
    }
  }
}

.max-textbox-error-label {
  @extend .ERROR_LABEL_BASE;
  color: $error-red;
}
