@import '../../variables';
@import 'max-text-box-base';

// TextBox
.max-textbox {
  @extend .MAX_TEXTBOX_BASE;
  @include colorize($background-color: background);

  .max-textbox-label {
    @include colorize($background-color: background);
    color: #696c71;
     .ns-dark & {
      color: #898e94;
    }
  }

  GridLayout {
      border-color: #e7e7ea;
       .ns-dark & {
        border-color:#4c4f54;
      }
    > .max-textbox-value {
      color: #3c4043;
       .ns-dark & {
        color: $white;
      }
    }
  }
}

.max-textbox-active {
  @extend .MAX_TEXTBOX_BASE;


  .max-textbox-label {
    color: #1c72e6;
     .ns-dark & {
      color: $permobil-sky;
    }
    @include colorize($background-color: background);
  }

  GridLayout {
    border-color: #1c72e6;
     .ns-dark & {
      border-color: $permobil-sky;
    }

    > .max-textbox-value {
        color: #3c4043;
         .ns-dark & {
          color: $white;
        }
        @include colorize($background-color: background);
    }
  }
}

.max-textbox-error-label {
  @extend .ERROR_LABEL_BASE;
  color: $error-red;
}
