<StackLayout class="bottom-sheet-layout">
  <StackLayout row="0" col="1" [rowSpan]="fields.length" colSpan="3" padding="10"
    *ngFor="let field of fields; let i = index">
    <Label class="title" [text]="title | translate" textWrap="true"></Label>
    <Label class="description" [text]="description | translate" [visibility]="description ? 'visible' : 'collapsed'"
      textWrap="true"></Label>
    <StackLayout [row]="i" orientation="horizontal">
      <Label width="10%" class="textfield-prefix" [text]="field.prefix ? field.prefix : ''" marginTop="10"
        verticalAlignment="center" horizontalAlignment="center"></Label>
      <TextField width="80%" [text]="field.text" secure="false" (returnPress)="onReturnPress($event, i)"
        [keyboardType]="field.keyboardType" justifyContent="center" class="textfield m-r-4" textAlignment="center"
        verticalAlignment="center" horizontalAlignment="center">
      </TextField>
      <Label width="10%" class="textfield-suffix" [text]="field.suffix ? field.suffix : ''" marginTop="10"
        verticalAlignment="center" horizontalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>
  <GridLayout rows="auto" columns="auto, *, auto">
    <Button ripple rippleColorAlpha="0.18" row="1" col="1" [text]="'general.cancel' | translate" class="cancel-btn"
      (tap)="closeSheet()"></Button>
    <Button ripple rippleColorAlpha="0.18" row="1" col="2" [text]="'general.ok' | translate" class="ok-btn"
      (tap)="saveTextFieldValue()"></Button>
  </GridLayout>
</StackLayout>