@import '../variables';

//Action bar
ActionBar[title] {
  font-family: $os;
}

.ACTION_BAR_BASE {
  .ACTION_BAR_TITLE_BASE {
    font-size: 22;
    font-family: $os;
    margin-left: 5;
    padding: 4;
    vertical-align: center;
  }

  .ACTION_ITEM_BTN_BASE {
    button {
      @extend .btn-transparent;
    }
    padding: 4;
    margin: 2;
    font-family: $material-icon;
    font-size: 30;
    vertical-align: center;
  }
}
