@import '../variables';
@import 'action-bar-base';

//Action bar
ActionBar[title] {
  font-family: $os;
}

.action-bar {
  @extend .ACTION_BAR_BASE;
  color: $black;
  background-color: $white;

  .action-item {
    @extend .ACTION_ITEM_BASE;
    color: $dark-grey;
  }
}
