@import '../variables';
@import 'action-bar-base';

//Action bar
ActionBar[title] {
  font-family: $os;
}

.action-bar {
  @extend .ACTION_BAR_BASE;
  color: $white;
  background-color: $black;

  .title {
    @extend .ACTION_BAR_TITLE_BASE;
    color: $white;
  }

  .action-item-btn {
    @extend .ACTION_ITEM_BTN_BASE;
    color: $white;
  }
}
