@import '../variables';

//Action bar
ActionBar[title] {
  font-family: $os;
}

.ACTION_BAR_BASE {
  .title {
    font-family: $os;
  }

  .ACTION_ITEM_BTN_BASE {
    button {
      @extend .btn-transparent;
    }
    padding: 4;
    margin: 2;
    font-family: $material-icon;
    font-size: 30;
  }
}
