@import '../variables';

//Action bar
ActionBar[title] {
  font-family: $os;
}

.ACTION_BAR_BASE {
  .title {
    font-family: $os;
  }

  .ACTION_ITEM_BASE {
    label {
      padding: 5;
      margin: 2 6;
      font-family: $material-icon;
      font-size: 30;
    }
  }
}
