<GridLayout rows="*" cols="auto, *" class="pushtracker-status-btn-layout" (unloaded)="onUnloaded()" (tap)="onTap()" ripple>
  <Image row="0" col="0" width="22" height="30" [src]="icon" stretch="aspectFit"></Image>

  // PushTracker is paired - Show bluetooth symbol
  <LottieView row="0" col="1" verticalAlignment="center" horizontalAlignment="center" width="80" height="80" marginLeft="22"
    [src]="CURRENT_THEME === APP_THEMES.DEFAULT ? 'bluetooth_black.json' : 'bluetooth_white.json'"
    *ngIf="state === PushTrackerState.paired"
    loop="true" autoPlay="true"></LottieView>

  // PushTracker is connected or ready - Show check mark
  <LottieView row="0" col="1" verticalAlignment="center" horizontalAlignment="center" width="15" height="15" marginLeft="30"
    [src]="CURRENT_THEME === APP_THEMES.DEFAULT ? 'success_black.json' : 'success_white.json'"
    *ngIf="state === PushTrackerState.connected || state === PushTrackerState.ready"
    loop="false" autoPlay="true"></LottieView>

  // PushTracker is busy, disconnected or state unknown - Show loading
  <LottieView row="0" col="1" verticalAlignment="center" horizontalAlignment="center" width="15" height="15" marginLeft="30"
    [src]="CURRENT_THEME === APP_THEMES.DEFAULT ? 'failure_black.json' : 'failure_white.json'"
    *ngIf="state === PushTrackerState.unknown || state === PushTrackerState.busy || state === PushTrackerState.disconnected"
    class="cross-lottie"
    loop="false" autoPlay="true"></LottieView>
</GridLayout>
