<GridLayout rows="*" columns="*, auto" class="pushtracker-status-btn-layout" (unloaded)="onUnloaded()" (tap)="onTap()" ripple>
  // PushTracker Icon
  <GridLayout col="0" height="36" width="26" verticalAlignment="center">
    <Image [src]="icon" height="100%" stretch="aspectFit"></Image>
  </GridLayout>

  // PushTrackerState = unknown
  <Label col="1" *ngIf="state === PushTrackerState.unknown" [text]="unknownIconText"></Label>
  // PushTrackerState = connected || ready
  <Label col="1" *ngIf="state === PushTrackerState.connected || state === PushTrackerState.ready" [text]="connectedIconText"></Label>
  // PushTrackerState = disconnected
  <Label col="1" *ngIf="state === PushTrackerState.disconnected" [text]="disconnectedIconText"></Label>
  // PushTrackerState = busy
  <ActivityIndicator col="1" *ngIf="state === PushTrackerState.busy" [color]="CURRENT_THEME === APP_THEMES.DEFAULT ? '#0067a6' : '#89d4e3'" busy="true"></ActivityIndicator>
</GridLayout>
